#multiRoomManager {
  background-color: #EEE;
  button {
    @extend .btn, .btn-danger, .btn-xs, .pull-right;
  }
  .device {
    background-color: #CCC;
    padding:5px;
    margin:5px;

    .selected {
      color: #0A0;
    }

    .childDevice {
      margin:5px 10px;
      padding:5px;
      background-color: #DDD;
    }
  }

  .droppableleArea {
    border: solid 0px red;
    min-height: 20px;
  }
}
