#airplayScrim {
  display: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  &.showScrim {
    display: block;
  }
}
