

#installProgressBar {
  margin-top: 20px;
}

#advancedLogWrapper{
  margin-top: 10px;
  height: 120px;
  overflow-y: scroll;
}

.btn.marginLeft{
  margin-left: 16px;
}

.pluginDetailsRow{
  color: #999;
}

.pluginDotStatus {
  border-radius: 10px;
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 5px;
  &.inactive {
    background-color: #DF4649;
  }
  &.active {
    background-color: #54C698;
  }
}

.pluginCategoryBtn {
  text-transform: capitalize;
}
