<div>
    <div class="artist__header">
        <div class="header__content">
            <div class="header__content__inner">
                <div class="header__main">
                    <div class="header__image">
                        <img
                            class="header__image__img"
                            src="{{ browse.mockArtistPage.info.albumart }}"
                            alt="Artist image">
                    </div> <!-- /.header__image -->
                    <div class="header__info">
                        <div
                            ng-bind-html="browse.mockArtistPage.info.description"
                            class="artist-description">
                        </div>
                        <div class="artist-description__read-more">
                            <button
                                ng-click="browse.showArtistDetails(browse.mockArtistPage.info)"
                                class="artist-description__read-more-btn">
                                <img class="artist-description__read-more-btn__icon" src="app/assets-common/collapse-indicator.svg" alt="open collapse icon">
                                <span>
                                    {{ 'BROWSER.READ_MORE' | translate }}
                                </span>
                            </button>
                        </div>
                        <div class="header__meta">
                            <span ng-if="browse.mockArtistPage.info.genre">{{ browse.mockArtistPage.info.genre }}</span>
                            <span ng-if="browse.mockArtistPage.info.genre &&  (browse.mockArtistPage.info.local_albums || browse.mockArtistPage.info.streaming_albums)" class="header__meta__spacer"> • </span>
                            <span ng-if="browse.mockArtistPage.info.local_albums">
                                {{ browse.mockArtistPage.info.local_albums }} local
                            </span>
                            <span ng-if="browse.mockArtistPage.info.local_albums && browse.mockArtistPage.info.streaming_albums">and</span>
                            <span ng-if="browse.mockArtistPage.info.streaming_albums">
                                {{ browse.mockArtistPage.info.streaming_albums }} streaming releases
                            </span>
                        </div>
                    </div> <!-- /.header__info -->
                    <div class="header__actions">
                        <button class="header__action-btn mb-4"> <i class="fa fa-info-circle"></i> {{ 'BROWSER.CREDITS' | translate }}</button>
                        <button ng-click="browse.addToFavorites($event, browse.mockArtistPage.info)" class="header__action-btn header__action-btn__faded mb-1"> <i class="fa fa-heart"></i> {{ 'BROWSER.ADD_TO_FAVOURITES' | translate }}</button>
                        <button ng-click="browse.addToPlaylist(browse.mockArtistPage.info)" class="header__action-btn header__action-btn__faded mb-1"> <i class="fa fa-plus"></i> {{ 'BROWSER.ADD_TO_PLAYLIST' | translate }}</button>
                        <button class="header__action-btn header__action-btn__faded"> <i class="fa fa-list"></i> {{ 'BROWSER.ADD_TO_QUEUE' | translate }}</button>
                    </div>
                </div> <!-- header__main -->
                <div class="header__footer">
                    <div class="header__play">
                        <button
                            ng-click="browse.playMusicCardClick($event, browse.browseService.info)"
                            class="header__play-btn">
                            <i class="fa fa-play"></i>
                        </button>
                        <h1 class="header__artist">{{ browse.mockArtistPage.info.title }}</h1>
                    </div>
                    <div class="layout-switch">
                        <label class="layout-switch-btn" for="layout-list" title="{{ 'COMMON.LIST' | translate }}">
                            <input ng-model="browse.listViewSetting" class="layout-switch-input" name="layout" id="layout-list" value="list" type="radio">
                            <span class="layout-switch-label">
                                <i class="fa fa-list"></i>
                            </span>
                        </label>
                        <label class="layout-switch-btn" for="layout-grid" title="{{ 'COMMON.GRID' | translate }}">
                            <input ng-model="browse.listViewSetting" class="layout-switch-input" name="layout" id="layout-grid" value="grid" type="radio">
                            <span class="layout-switch-label">
                                <i class="fa fa-th-large"></i>
                            </span>
                        </label>
                    </div> <!-- /.layout-switch -->
                </div> <!-- /.header__play -->
            </div> <!-- header__content__inner -->
        </div> <!-- /.header__content -->
        <div
            class="header__backdrop">
            <img src="https://lastfm.freetls.fastly.net/i/u/1000x1000/e7090eb6d05349ae8e0932264910d875.jpg" alt="Artist image">
        </div>
    </div> <!-- /.artist__header -->

    <div class="browse__browse-page">

        <div
            ng-repeat="list in browse.mockArtistPage.lists track by $index"
            class="main__source">
            <h3 class="main__source__title panel-title">{{ list.title }}</h3>
            <div
                ng-if="browse.listViewSetting === 'grid'"
                class="main__row">
                <div
                    ng-repeat="item in list.items"
                    class="music-card__wrapper"
                    ng-include
                    src="'app/browse-music/components/music-card.html'">
                </div> <!-- /.music-card__wrapper -->
                <!-- A little trick to even out the width of the cards -->
                <div class="music-card__wrapper placeholder-wrapper"></div>
                <div class="music-card__wrapper placeholder-wrapper"></div>
                <div class="music-card__wrapper placeholder-wrapper"></div>
                <div class="music-card__wrapper placeholder-wrapper"></div>
                <div class="music-card__wrapper placeholder-wrapper"></div>
                <div class="music-card__wrapper placeholder-wrapper"></div>
            </div> <!-- /.main__row || grid view -->

            <div
                ng-if="browse.listViewSetting === 'list'"
                class="main__list">
                <div
                    ng-repeat="album in list.items"
                    class="music-card__wrapper"
                    ng-include
                    src="'app/browse-music/components/album-view.html'">
                </div> <!-- /.album-view__wrapper -->

            </div> <!-- /.main__list || list view -->

        </div> <!-- /.main__source -->
    
    </div> <!-- /. browse__browse-page -->

</div>