<div class="modal-body trackManagerActionSheet text-center">
  <button class="btn btn-link playerControls"
      ng-class="{'active': modal.playerService.state.random}"
      ng-click="modal.playerService.shuffle()"
      title="{{'TRACK_INFO_BAR.RANDOM' | translate}}">
    <i class="fa fa-random"></i>
  </button>
  <button class="btn btn-link playerControls"
      ng-class="{'active': modal.playerService.state.repeat}"
      ng-click="modal.playerService.repeatAlbum()"
      title="{{'TRACK_INFO_BAR.REPEAT' | translate}}">
    <i class="fa fa-repeat"></i>
  </button>
  <button class="btn btn-info btn-block"
      ng-if="modal.playerService.state.artist"
      ng-click="modal.goTo('artist')">
    <i class="fa fa-user"></i> <span translate="TRACK_MANAGER.GO_TO_ARTIST"></span>
  </button>
  <button class="btn btn-info btn-block"
      ng-if="modal.playerService.state.album"
      ng-click="modal.goTo('album')">
    <i class="fa fa-bullseye"></i> <span translate="TRACK_MANAGER.GO_TO_ALBUM"></span>
  </button>
  <button class="btn btn-twitter btn-block"
      ng-if="modal.playerService.state.album &&
          modal.uiSettingsService.uiSettings.trackManagerButtonBar.actions.twitter !== false"
      ng-click="modal.tweetTrack(modal.uiSettingsService.uiSettings.trackManagerButtonBar.actions.twitterData)">
    <i class="fa fa-twitter"></i> <span translate="TRACK_MANAGER.TWEET_TRACK"></span>
  </button>
  <button class="btn btn-warning btn-block" ng-click="modal.cancel()">
    <span translate="COMMON.CLOSE"></span>
  </button>
</div>
