.trackManagerActionSheet {

  position: relative;
  z-index: 900;

  button {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &.btn-twitter {
      background-color: #55ACEE;
    }
    &.playerControls {
      font-size: 26px;
    }
  }

  favourite-track-btn .btn, add-track-to-playlist-btn .btn{
    font-size: 26px !important;
    margin-bottom: 16px;
  }
}
