.trackManagerActionSheet {
  button {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &.btn-twitter {
      background-color: #55ACEE;
    }
    &.playerControls {
      font-size: 26px;
    }
  }
}
