<div id="growsurf-referral-card" class="row">
    <div class="col-sm-24 col-md-14">
        <div class="row">
            <div class="col-sm-24 milestones">
                <div class="item cashback">
                    <div class="amount">
                        20€
                    </div>
                    <div class="label">Cash back</div>
                </div>
                <div class="item milestone achieved">
                    <div class="image" style="background-image: url(https://www.rushordertees.com/design/ZoomImage.php?src=3082864_f&style=4980&colorCode=00&x=240&y=300&width=880&height=880&scale=1.7&watermark=false);"/>
                    <div class="overlay">
                        <div class="reward-name">Volumio T-Shirt</div>
                        <div class="reward-description">You won it!</div>
                    </div>
                </div>
                <div class="item milestone">
                    <div class="image"
                        style="background-image: url(https://static.vecteezy.com/system/resources/previews/000/537/053/non_2x/black-vinyl-record-isolated-on-white-background-vector.jpg);" />
                    <div class="overlay">
                        <div class="reward-name">DSD Album</div>
                        <div class="reward-description">3 referrals missing</div>
                    </div>
                </div>
                <div class="item milestone">
                    <div class="image"
                        style="background-image: url(http://3.bp.blogspot.com/_ufhz8z8s_l4/SPTCwfYD30I/AAAAAAAAAVA/s7Yz8evu-g0/s320/quelo.jpg);" />
                    <div class="overlay">
                        <div class="reward-name">Quelo</div>
                        <div class="reward-description">5 referrals missing</div>
                    </div>
                </div>
                <div class="item milestone">
                    <div class="image"
                        style="background-image: url(https://image.freepik.com/free-vector/marijuana-leaf_23-2147502402.jpg?1);" />
                    <div class="overlay">
                        <div class="reward-name">Weed (1Kg)</div>
                        <div class="reward-description">10 referrals missing</div>
                    </div>
                </div>
                <div class="item milestone">
                    <div class="image"
                        style="background-image: url(https://www.elliottsfancydress.co.uk/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/p/i/pink-furry-handcuffs.jpg);" />
                    <div class="overlay">
                        <div class="reward-name">Surprise...</div>
                        <div class="reward-description">15 referrals missing</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-24 col-md-10">
        <div class="row">
            <div class="col-sm-24 share-link-container">
                <input disabled type="text" value="https://myvolumio.org?gsrf=xxxx"/> <div class="copy-to-clipboard"><i class="fa fa-paste" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-24 share-buttons-container">
                <div class="button email">
                    <i class="fa fa-envelope" /> Email
                </div>
                <div class="button facebook">
                    <i class="fa fa-facebook-square" /> Share
                </div>
                <div class="button twitter">
                    <i class="fa fa-twitter-square" /> Share
                </div>
            </div>
        </div>
    </div>
</div>
