header {
  @include make-row();
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  border: solid 0px red;
  background-color: #EEE;


  #logo, #sideMenu {
    @include make-sm-column(3);
  }
  #sideMenu {
    text-align: right;
  }
  #playerButtons {
    @include make-sm-column(6);
    text-align: center;
  }
}
