<div class="box">
    <div class="boxHeader d-flex align-items-center justify-content-between">
      <div class="title">
        <!-- <h2 translate="MYVOLUMIO.MY_VOLUMIO"></h2> -->
        <h2>{{ MyVolumioPremiumStreamingController.$state.params.serviceName }}</h2>
      </div>
      <a ng-if="!MyVolumioPremiumStreamingController.authUser" ng-click="MyVolumioPremiumStreamingController.goToLogin()" class="my-volumio__sign-in-btn flex-shrink-0 mr-4">
        <i class="fa fa-user mr-2"></i>
        <span translate="MYVOLUMIO.LOGIN"></span>
      </a>
    </div>

    <div class="panel panel-default my-volumio__panel">

        <div class="panel-body">
            <div class="spacer mb-4"></div>
            <div class="row mb-10">
                <div class="col-xs-24 col-sm-16 col-md-12 col-sm-offset-4 col-md-offset-6 text-center">
                    <h1 class="mb-6">Studio quality music at home</h1>
                    <img ng-if="MyVolumioPremiumStreamingController.$state.params.serviceName === 'qobuz'" src="{{ 'app/themes/volumio3/assets/graphics/myvolumio-qobuz-80.png' }}" alt="{{ MyVolumioPremiumStreamingController.$state.params.serviceName }} app icon" class="my-volumio__premium-streaming-icon mb-6">
                    <img ng-if="MyVolumioPremiumStreamingController.$state.params.serviceName === 'tidal'" src="{{ 'app/themes/volumio3/assets/graphics/myvolumio-tidal-80.png' }}" alt="{{ MyVolumioPremiumStreamingController.$state.params.serviceName }} app icon" class="my-volumio__premium-streaming-icon mb-6">
                    <p><span class="capitalize">{{ MyVolumioPremiumStreamingController.$state.params.serviceName }}</span> is fully integrated with Volumio</p>
                
                </div> <!-- col- -->
            </div> <!-- row -->

            <div ng-if="!MyVolumioPremiumStreamingController.authUser || !MyVolumioPremiumStreamingController.authUser.plan" class="row mb-6">
                <div class="col-xs-24 col-sm-16 col-md-12 col-sm-offset-4 col-md-offset-6">
                    <div class="my-volumio__info-card my-volumio__info-card--with-cta my-volumio__border-round">
                        <p class="my-volumio__info-card__description"><span class="capitalize">{{ MyVolumioPremiumStreamingController.$state.params.serviceName }}</span> is available for MyVolumio Virtuoso and Superstar users.</p>
                        <button ng-click="MyVolumioPremiumStreamingController.goToMyVolumio()" class="btn my-volumio__btn-primary my-volumio__border-round" tabindex="7">
                            Upgrade from € 2.99 / month
                        </button>

                    </div>
                </div>
            </div>
            
            <div ng-if="MyVolumioPremiumStreamingController.authUser && MyVolumioPremiumStreamingController.authUser.plan" class="row mb-6">
                <div class="col-xs-24 col-sm-16 col-md-12 col-sm-offset-4 col-md-offset-6">
                    <div class="my-volumio__info-card my-volumio__info-card--with-cta my-volumio__border-round">
                        <p class="my-volumio__info-card__description">Connect <span class="capitalize">{{ MyVolumioPremiumStreamingController.$state.params.serviceName }}</span> to Volumio in your settings.</p>
                        <button ng-click="MyVolumioPremiumStreamingController.goToSettings()" class="btn my-volumio__btn-primary my-volumio__border-round" tabindex="7">
                            Sign in to <span class="capitalize">{{ MyVolumioPremiumStreamingController.$state.params.serviceName }}</span>
                        </button>

                    </div>
                </div>
            </div>

            

            <div class="row mb-16">
                <div class="col-xs-24 col-sm-16 col-md-12 col-sm-offset-4 col-md-offset-6">
                    <h2 class="mb-6"><span class="capitalize">{{ MyVolumioPremiumStreamingController.$state.params.serviceName }}</span> features in Volumio</h2>
                    <ul class="my-volumiio__premium-stream-feature-list">
                        <li>✔ Studio quality sound - FLAC 24-Bit up to 192 KHz</li class="mb-2">
                        <li>✔ Access <span class="capitalize">{{ MyVolumioPremiumStreamingController.$state.params.serviceName }} </span> directly from Volumio</li>
                        <li>✔ Sync your <span class="capitalize">{{ MyVolumioPremiumStreamingController.$state.params.serviceName }} </span> favourites and playlists to Volumio</li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.panel-body -->

    </div> <!-- /.panel -->

</div>
