<tr ng-repeat="source in browse.browseService.sources track by source.uri"
    ng-click="browse.fetchLibrary(source)">
  <td>
    <i class="fa {{::source.icon}}"></i> {{::source.name}}
    <span ng-if="::source.info" class="info"> - {{::source.info}}</span>
  </td>
  <td class="commandButtons">
    <div
        ng-if="::source.menuItems"
        uib-dropdown
        class="hamburgerMenu">
      <button class="dropdownToggle btn-link" uib-dropdown-toggle>
        <i class="fa fa-bars"></i>
      </button>
      <ul
          class="dropdown-menu buttonsGroup"
          ng-class="{'last': ($index > 2 && browse.browseService.sources.length - $index < 3)}">
        <li ng-repeat="item in source.menuItems"
            ng-click="browse.browseServiceHamburgerClick(item.socketCall)">
          <a href><i ng-if="::item.icon" ng-class="::item.icon"></i>{{::item.name}}</a>
        </li>
      </ul>
    </div>
  </td>
</tr>
