<li ng-if="::browse.showPlayButton(item)"
    ng-click="browse.play(item)"
    title="{{'BROWSER.PLAY' | translate}}">
  <a href><i class="fa fa-play"></i><span translate="BROWSER.PLAY"></span></a>
</li>
<li ng-if="::browse.showAddToQueueButton(item)"
    ng-click="browse.addToQueue(item)"
    title="{{'BROWSER.ADD_TO_QUEUE' | translate}}">
  <a href><i class="fa fa-list"></i><span translate="BROWSER.ADD_TO_QUEUE"></span></a></a>
</li>
<li ng-if="::browse.showPlayButton(item)"
    ng-click="browse.replaceAndPlay(item)"
    title="{{'BROWSER.ADD_TO_QUEUE' | translate}}">
  <a href><i class="fa fa-list"></i><span translate="BROWSER.CLEAR_AND_PLAY"></span></a></a>
</li>

<li ng-if="::browse.showAddToPlaylist(item)"
    ng-click="browse.addToPlaylist(item)"
    title="{{'BROWSER.ADD_TO_PLAYLIST' | translate}}">
  <a href><i class="fa fa-plus"></i><span translate="BROWSER.ADD_TO_PLAYLIST"></span></a>
</li>
<li ng-if="::browse.browseService.currentFetchRequest.type === 'playlist'"
    ng-click="browse.playlistService.removeFromPlaylist(item, browse.browseService.currentFetchRequest.title)"
    title="{{'BROWSER.REMOVE_FROM_PLAYLIST' | translate}}">
  <a href><i class="fa fa-trash"></i><span translate="BROWSER.REMOVE_FROM_PLAYLIST"></a>
</li>
<li ng-if="::item.type === 'playlist'"
    ng-click="browse.playlistService.deletePlaylist(item.title)"
    title="{{'BROWSER.DELETE_PLAYLIST' | translate}}">
  <a href><i class="fa fa-trash"></i>{{'BROWSER.DELETE_PLAYLIST' | translate}}</a>
</li>
<li ng-if="::item.type === 'remdisk'"
    ng-click="browse.safeRemoveDrive(item.title)"
    title="{{'BROWSER.SAFE_REMOVE' | translate}}">
  <a href><i class="fa fa-eject"></i>{{'BROWSER.SAFE_REMOVE' | translate}}</a>
</li>
<li ng-if="::item.type === 'folder' || item.type === 'internal-folder'"
    ng-click="browse.updateFolder(item.uri)"
    title="{{'BROWSER.UPDATE_FOLDER' | translate}}">
  <a href><i class="fa fa-refresh"></i>{{'BROWSER.UPDATE_FOLDER' | translate}}</a>
</li>
<li ng-if="::item.type === 'internal-folder'"
    ng-click="browse.deleteFolder(browse.browseService.currentFetchRequest.uri, item)"
    title="{{'BROWSER.DELETE' | translate}}">
  <a href><i class="fa fa-trash"></i>{{'BROWSER.DELETE_FOLDER' | translate}}</a>
</li>


<li ng-if="::(item.type === 'song' || item.type === 'folder-with-favourites') && browse.browseService.currentFetchRequest.uri !== 'favourites' && !item.favourite"
    ng-click="browse.playlistService.addToFavourites(item)"
    title="{{'BROWSER.ADD_TO_FAVOURITES' | translate}}">
  <a href><i class="fa fa-heart"></i><span translate="BROWSER.ADD_TO_FAVOURITES"></a>
</li>
<li ng-if="::(browse.browseService.currentFetchRequest.uri === 'favourites' || item.favourite)"
    ng-click="browse.playlistService.removeFromFavourites(item)"
    title="{{'BROWSER.REMOVE_FROM_FAVOURITES' | translate}}">
  <a href><i class="fa fa-trash"></i><span translate="BROWSER.REMOVE_FROM_FAVOURITES"></a>
</li>

<li ng-if="::item.type === 'mywebradio-category'"
    ng-click="browse.addWebRadio()"
    title="{{'BROWSER.ADD_WEBRADIO' | translate}}">
  <a href><i class="fa fa-plus"></i><span translate="BROWSER.ADD_WEBRADIO"></a>
</li>
<li ng-if="::item.type === 'mywebradio'"
    ng-click="browse.editWebRadio(item)"
    title="{{'BROWSER.EDIT_WEBRADIO' | translate}}">
  <a href><i class="fa fa-pencil"></i><span translate="BROWSER.EDIT_WEBRADIO"></a>
</li>
<li ng-if="::item.type === 'mywebradio' && browse.browseService.currentFetchRequest.uri === 'radio/myWebRadio'"
    ng-click="browse.playlistService.deleteWebRadio(item)"
    title="{{'BROWSER.DELETE_WEBRADIO' | translate}}">
  <a href><i class="fa fa-trash"></i><span translate="BROWSER.DELETE_WEBRADIO"></a>
</li>

<li ng-if="::item.type === 'webradio' || item.type === 'mywebradio'"
    ng-click="browse.playlistService.addWebRadioToFavourites(item)"
    title="{{'BROWSER.ADD_TO_RADIO_FAVOURITES' | translate}}">
  <a href><i class="fa fa-heart"></i><span translate="BROWSER.ADD_TO_RADIO_FAVOURITES"></a>
</li>
<li ng-if="::browse.browseService.currentFetchRequest.uri === 'radio/favourites' && (item.type === 'webradio' || item.type === 'mywebradio')"
    ng-click="browse.playlistService.removeWebRadioFromFavourites(item)"
    title="{{'BROWSER.REMOVE_FROM_RADIO_FAVOURITES' | translate}}">
  <a href><i class="fa fa-trash"></i><span translate="BROWSER.REMOVE_FROM_RADIO_FAVOURITES"></a>
</li>
