<div id="sideMenuScrim" ng-if="zoneMenu.uiState.menuVisible" ng-click="zoneMenu.toggleMenu()"></div>
<div id="sideMenu">
  <button id="openMenuBtn" ng-click="zoneMenu.toggleMenu()" class="btn btn-link" title="{{'COMMON.SHOW_SETTINGS' | translate}}">
    <i class="fa fa-rss"></i>
  </button>

  <div id="menuList" role="group" ng-if="zoneMenu.uiState.menuVisible" style="width:400px; max-width: 100%;">
    <div style="height:35px">
      <button id="closeMenuBtnZone" ng-click="zoneMenu.toggleMenu()" class="btn btn-link">
        <i class="fa fa-times"></i>
      </button>
    </div>

    <div class="list-title">Zones</div>

    <button ng-click="zoneMenu.itemClick(zoneMenu.menuItems['browser'][0])" class="btn-link btn-block list-item-button">
      <span class="list-item-icon">
        <i class="fa fa-cog" />
      </span>
      <span class="list-item-icon-settings" ng-click="zoneMenu.toggleMute()">
        <i class="{{zoneMenu.uiState.mute === true ? 'fa fa-volume-off' : 'fa fa-volume-up'}}" />
      </span>
      <span class="list-item-name">{{::zoneMenu.menuItems['browser'][0].name}}</span>
      <span class="list-item-type">{{::zoneMenu.menuItems['browser'][0].type}}</span>
      <input type="range" name="volume-slider" step="0.05" id="volume-slider" min="0" max="1" ng-model="zoneMenu.uiState.volume"
        class="list-item-volume-bar" ng-change="zoneMenu.onVolumeChange()" />
    </button>

    <div class="group-container">
      <div class="group-name">devices</div>
      <div ng-repeat="item in zoneMenu.menuItems['device'] track by $index">
        <button ng-click="zoneMenu.itemClick(item)" class="btn-link btn-block list-item-button">
          <span class="list-item-icon">
            <i class="{{item.enabled === true ? 'fa fa-check-square' : 'fa fa-square'}}" />
          </span>
          <span class="list-item-icon-settings">
            <i class="{{item.mute === true ? 'fa fa-volume-off' : item.icon}}" />
          </span>
          <span class="list-item-name">{{::item.name}}</span>
          <span class="list-item-type">{{::item.type}}</span>
          <input ng-show="{{::item.volumeAvailable === true}}" type="range" name="volume-slider" id="volume-slider" min="0"
            max="100" value="{{::item.volume}}" class="list-item-volume-bar" />
        </button>
      </div>
    </div>

  </div>
</div>