  <div id="browse" class="boxTable" browse-scroll-manager>
  <!-- {{browse.browseService.currentFetchRequest}} -->
  <div class="panel panel-default">
    <div id="browsePanelHeading" class="panel-heading">
      <div id="navButtons"
          ng-include src="'app/browse/components/browse-nav-buttons.html'">
      </div>

      <h3 id="browseTitle" class="panel-title">Music sources</h3>

      <div id="searchBox"
          ng-include src="'app/browse/components/browse-search-box.html'">
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="browseTablesWrapper">
      <table id="browseTableSources" class="table table-hover table-condensed sourcesTable"
          ng-if="!browse.browseService.isBrowsing && !browse.searchField"
          ng-include src="'app/browse/components/browse-table-sources.html'">
      </table>
      <table id="browseTableItems" class="table table-hover table-condensed"
          ng-if="browse.browseService.isBrowsing || browse.searchField"
          ng-include src="'app/browse/components/browse-table-items.html'">
      </table>
    </div>
  </div>
</div>
