<div id="browse" class="boxTable" browse-scroll-manager>
  <track-info-bar ng-if="!browse.matchmediaService.isPhone"></track-info-bar>
  <!-- {{browse.browseService.currentFetchRequest}} -->
  <div class="panel panel-default">
    <div id="browsePanelHeading" class="panel-heading">
      <div class="navButtons pull-left"
          ng-include src="'app/browse/components/browse-nav-buttons.html'">
      </div>

      <div class="searchBox"
          ng-include src="'app/browse/components/browse-search-box.html'">
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="browseTablesWrapper">
      <table id="browseTableSources" class="table table-hover table-condensed sourcesTable"
          ng-if="!browse.browseService.isBrowsing && !browse.browseService.isSearching"
          ng-include src="'app/browse/components/browse-table-sources.html'">
      </table>
      <div
          ng-if="browse.browseService.isBrowsing || browse.browseService.isSearching"
          ng-include src="'app/browse/components/browse-table-items.html'">
      </div>
    </div>
  </div>
</div>
