#toolbarRow{
  @include make-row();
  padding-top: 10px;

  #browseSources {
    @include make-sm-column(16);
    @include make-xs-column(24);
  }
  #searchBox {
    @include make-sm-column(8);
    @include make-xs-column(24);
    @include breakpoint(xs) {
      padding-top: 10px;
    }
  }
}

.boxTable {
  overflow-y: scroll;
}

#browseList {
  //@include make-row();
  user-select: none;
  cursor: pointer;
  .browseItemMenu{
    position: relative;
    .buttonsGroup{
      position: absolute;
      top: 34px;
      right: 0;
      left: auto;
      z-index: 3;
      &.last {
        top: auto;
        bottom: 38px;
      }
    }
  }
}

#browseTable {
  @include make-sm-column(24);
}
