#browse {
  .panel {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: $volumio-black-trans-dark;
  }
}
#navButtons {
  @include make-sm-column(3, 0);
  @include make-xs-column(10, 0);
  button {
    font-size: 22px;
  }
}

#searchBox {
  @include make-sm-column(9, 0);
  @include make-sm-column-offset(12);
  @include make-xs-column(14, 0);
  input {
    color: $volumio-text-color;
  }
  .form-control-feedback {
    color: $volumio-text-color;
  }
  .clear-search {
    cursor: pointer;
    pointer-events: auto;
    &:hover {
      color: $volumio-green-color;
    }
  }
}

#browseTableSources {
  td {
    text-transform: capitalize
    padding-left: 10px;
    height: 45px;
    .info {
      text-transform: none;
    }
  }
}

#browseTablesWrapper {
  overflow-y: auto;
  table {
    user-select: none;
    cursor: pointer;
    .title {
      font-size: 16px;
    }
    .artist-album {
      font-size: 13px;
      color: $volumio-green-color;
    }
    .image {
      img {
        width: 45px;
        height: 45px;
      }
    }
    .breakMe{
      word-break: break-all;
    }
    tr:first-of-type {
      td {
        border-top: none;
      }
    }
  }
}
