  <div id="toolbarRow">
    <!-- <div id="browseButtons">
      <button
          ng-repeat="filter in browse.browseService.filters"
          ng-class="{selected: browseService.listBy === 'artist'}"
          ng-click="browse.browseService.fetchLibrary(filter.index)">
          {{filter.name}}
      </button>
    </div> -->
    <div id="browseSources" class="btn-group">
      <button
          ng-repeat="source in browse.browseService.sources"
          ng-click="browse.fetchLibrary(source)"
          ng-class="{'selected': browse.selectedSource.name === source.name}"
          class="btn btn-default">
          {{source.name}}
      </button>
    </div>
    <div id="searchBox">
      <input type="text"
          placeholder="Search by artist, album, song"
          ng-model="browse.searchField"
          ng-change="browse.search()"
          class="form-control">
    </div>
  </div>

  <br><br>
  <div>
    <button
        ng-repeat="breadcrumb in browse.browseService.breadcrumbs"
        ng-click="browse.fetchLibrary({uri: breadcrumb})"
        class="btn btn-default">
      Back
    </button>
  </div>

  <br><br>
  <div id="browseList" class="boxTable">
    {{browse.browseService.currentFetchRequest}}
    <table id="browseTable" class="table table-hover table-condensed">
      <tr class="nohover">
        <th>Cover</th>
        <th>Title</th>
        <th><span>Album</span></th>
        <th><span>Artist</span></th>
        <th></th>
      </tr>
      <tr ng-repeat="item in browse.browseService.list track by $index">
        <td class="icon-cover"
            ng-click="browse.clickListItem(item, $event)"
            ng-dblclick="browse.dblClickListItem(item, $event)">
          <img ng-if="item.image" ng-src="{{item.albumart}}" alt="" style="height:80px;"/>
          <i ng-if="item.icon" class="{{item.icon}}"></i>
        </td>
        <td
            ng-click="browse.clickListItem(item, $event)"
            ng-dblclick="browse.dblClickListItem(item, $event)">
          {{item.title}}
        </td>
        <td
            ng-click="browse.clickListItem(item, $event)"
            ng-dblclick="browse.dblClickListItem(item, $event)">
          {{item.album}}
        </td>
        <td
            ng-click="browse.clickListItem(item, $event)"
            ng-dblclick="browse.dblClickListItem(item, $event)">
          {{item.artist}}
        </td>
        <td class="commandButtons">
          <div
              uib-dropdown
              on-toggle="browse.toggledItem(open, $event)"
              class="browseItemMenu">
            <button
                class="btn btn-default"
                uib-dropdown-toggle
                onclick="event.stopPropagation();"
                >
              <i class="fa fa-bars"></i>
            </button>
            <ng-include src="'app/browse/components/browse-hamburger-menu.html'" include-replace></ng-include>
          </div>
        </td>
      </tr>
    </table>
  </div>
