#browse {
  .panel {
    margin-top: 0px;
    background-color: transparent;
  }
}
#navButtons {
  @include make-sm-column(3, 0);
  @include make-xs-column(8, 0);
  font-size: 18px;
}

#searchBox {
  @include make-sm-column(7, 0);
  @include make-xs-column(16, 0);
}

#browseTitle {
  padding-top: 7px;
  @include make-sm-column(14, 0);
  @include breakpoint(xs) {
    display: none;
  }
}

#browseTableSources {
  td {
    text-transform: uppercase;
    padding-left: 10px;
  }
}

#browseTablesWrapper {
  overflow-y: auto;
  table {
    user-select: none;
    cursor: pointer;
    .title {
      font-size: 16px;
    }
    .artist-album {
      font-size: 13px;
      color: $volumio-accent-color;
    }
    tr:first-of-type {
      td {
        border-top: none;
      }
    }
  }
}
