header {
  @include make-row();
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: $headerHeight;
  padding-top: 8px;
  background-color: $volumio-light-color;

  #logo {
    @include make-sm-column(6);
    @extend .hidden-xs;
    img {
      margin-top: 5px;
      width: 170px;
    }
  }
  #sideMenu {
    @include make-sm-column(6);
    @include make-xs-column(4);
    text-align: right;
  }
  #playerButtons {
    @include make-sm-column(12);
    @include make-xs-column(16);
    @include make-xs-column-offset(4);
    @include make-sm-column-offset(0);
    @include make-md-column-offset(0);
    @include make-lg-column-offset(0);
    text-align: center;
    button {
      
    }
  }
}
