#sideMenuScrim {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.hardwareToggleCheckbox {
  margin: 15px 0px 0px 8px;
  text-align: left;
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
  &:last-child {
    margin-bottom: 15px;
  }
}
.side-logo {
  text-align: center;
  margin: 15px 0px;
  img {
    width: 80%;
  }
}

#sideMenu {
  position: relative;
  z-index: 50;
}

.group-container {
  margin-top: 10px;
}

.row.output-item {
    margin-left: -16px;
    margin-right: 0px;
}

.group-name {
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid;
  padding: 5px 0px;
  text-transform: uppercase;
}

.list-item-button {
  position: relative;
  height: 70px;
  outline: 0;
  padding: 10px !important;
  border-bottom: none !important;
}

.btn-link.btn-block.list-item-button.self {
  color: $theme-primary-color;
}

.output-enabled {
  color: $theme-primary-color;
}

.device-group-icon {
  position: relative;
  top: 30px;
  font-size: 20px;
}

.list-item-albumart {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 40px;
  height: 40px;
}

.list-item-name {
  position: absolute;
  top: 20px;
  left: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.list-item-type {
  position: absolute;
  top: 47px;
  left: 60px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.list-title {
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0px;
  text-align: left;
  display: inline-flex;
}

.close-output-button {
    display: inline-block;
}

.list-item-volume-bar {
  -webkit-appearance: none;
  outline: none;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  //bottom: 20px;
  left: 20px;
  width: 80% !important;
  margin-top: 10px;
}

.list-item-volume-bar::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: white;

  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.list-item-volume-bar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: white;

  cursor: pointer;
}

.list-item-div {
  padding-bottom: 20px;
  border-bottom: solid 1px #333;
}

/*this is used for changing the color on the left side of the volume slider in the sidebar
  !works only on Firefox
*/
.list-item-volume-bar::-moz-range-progress {
  background-color: rgba(255, 255, 255, 0.8);
  height: 3px;
}

/*
  Multi room implementation
*/

.outputs {
  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 70px);
    padding: 32px 24px;
    background: rgba(3,3,3,0.90);
    z-index: 400;
    overflow-y: scroll;
    text-align: left;

    transform: translateY(100%);
    animation: outputsSlideBottom .2s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    &__text {
      margin-right: 1rem;
      font-size: 19px;
    }
  }
  &__subtitle {
    color: $primary-alt;
    margin-bottom: 1.2rem;
  }
  &__action {
    display: flex;
    align-items: center;
    padding: 4px;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    // color: $theme-text-color;
    &__icon,
    &__icon.material-icons {
      font-size: 18px;
      margin-right: 6px;
    }
    &--primary {
      color: $theme-primary-color;
    }
  }
}

.device {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.4rem;
  &__thumb,
  &__thumb img {
    max-width: 64px;
  }
  &__thumb.small,
  &__thumb.small img {
      max-width: 40px;
  }
  &__thumb {
    flex-shrink: 0;
    margin-right: 1.2rem;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(white, .05);
  }
  &__info {
    flex-grow: 1;
    min-width: 0; /* Text-overflow ellipsis support */
  }
  &__title {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    &__text {
      margin-right: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & ~ & {
      margin-top: 1.2rem;
    }
  }
  &__actions {
    flex-grow: 0;
    .outputs__action {
      font-size: 12px;
    }
  }
  &__meta {
    display: flex;
    color: $theme-light-color;
  }
  &__control--play {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 1rem;
    border: 2px solid $theme-light-color;
    border-radius: 50%;
    &:focus {
      outline: none;
    }
    &:hover {
      color: white;
      border-color: white;
    }
    &:active {
      transform: scale(.96);
    }
    .fa {
      font-size: 12px;
    }
    .fa-play {
      transform: translateX(1px);
    }
  }
  &__meta__song {
    margin-top: 4px;
  }

  &.groupped {
    flex-wrap: wrap;
    align-items: center;
  }

  &.groupped &__title {
    margin-bottom: 0;
  }

  &__group {
    min-width: 0; /* Text-overflow ellipsis support */
    flex: 1 0 100%;
    &__item {
      position: relative;
      padding-left: 32px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        left: 16px;
        width: 9px;
        height: 9px;
        border: 2px solid $theme-primary-color;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
      &:first-child:before {
        width: 15px;
        height: 15px;
        background-color: $theme-primary-color;
      }
      &:not(:last-child) {
        margin: 1.2rem 0;
        &:after {
          content: '';
          position: absolute;
          top: 16px;
          left: 15px;
          width: 2px;
          height: calc(100% + 5px);
          background-color: $theme-primary-color;
        }
      }
    }
    &__action {
      display: flex;
      justify-content: center;
      margin-bottom: 3.2rem;
      opacity: .5;
    }
    &__remove-icon {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        top: -3px;
        bottom: -3px;
        left: 50%;
        width: 1px;
        background-color: white;
        box-shadow: 1px 1px 0 1px black;
        transform: rotate(33deg);
      }
    }
  }
}

.volume-control {
  &__popover {
    position: absolute;
    top: 0;
    left: 0;
    right: 64px;
    padding: 4px 8px;
    background: #333;
    border-radius: 2px;
    .list-item-volume-bar {
      position: relative !important;
      left: 0;
      margin-bottom: 8px;
    }
  }
}

.volume-control-activator ~ .volume-control__popover {
  display: none;
}
.volume-control-activator:checked ~ .volume-control__popover {
  display: block;
}

@media (min-width: 768px) {
  .outputs{
    &__menu {
      max-width: 350px;
      max-height: calc(100vh - 91px);

      transform: translateX(100%);
      animation: outputsSlideSide .2s ease-out;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes outputsSlideSide {
  from { transform: translateX(100%); }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes outputsSlideBottom {
  from { transform: translateY(100%); }
  to { transform: translateY(0); opacity: 1; }
}