<div id="sideMenuScrim" ng-if="audioOutputs.menuVisible" ng-click="audioOutputs.toggleMenu()"></div>
<div id="sideMenu">


  <div role="group" ng-if="audioOutputs.menuVisible" class="outputs__menu">
    <div ng-if="audioOutputs.defaultView" class="outputs__overview">

      <div class="outputs__title align-items-center">
        <div class="outputs__title__text">
          Zones & devices
        </div>
        <div class="outputs__title__action">
          <button ng-click="audioOutputs.toggleView()" class="outputs__action">
            <i class="outputs__action__icon material-icons">speaker_group</i>
            Group devices
          </button>
        </div>
      </div> <!-- /.outputs__title -->

      <div ng-if="audioOutputs.audioOutputsService.thisOutput && audioOutputs.audioOutputsService.enabledOutputs().length === 0">
        <div class="outputs__subtitle small link">
          This device
        </div>
  
        <div class="outputs__device device">
          <div ng-if="audioOutputs.audioOutputsService.thisOutput.state" class="device__thumb">
            <img src="{{audioOutputs.audioOutputsService.thisOutput.state.albumart}}" alt="cover image">
          </div>
          <div class="device__info">
            <div class="device__title">
              <div class="device__title__text">{{ audioOutputs.audioOutputsService.thisOutput.name }}</div>
              <div class="device__actions">
                <div ng-if="audioOutputs.audioOutputsService.thisOutput.volumeAvailable" class="device__volume">
                  <label for="{{audioOutputs.audioOutputsService.thisOutput.id}}-main" class="outputs__action device__control device__control--volume" title="{{ 'COMMON.TAB_VOLUME' | translate }} {{audioOutputs.audioOutputsService.thisOutput.state.volume}}">
                    <i class="outputs__action__icon fa fa-volume-up"></i>
                  </label>
                  <input hidden class="volume-control-activator" id="{{audioOutputs.audioOutputsService.thisOutput.id}}-main" type="checkbox">
                  <div class="volume-control__popover">
                    <input type="range" name="volume-slider" id="volume-slider" min="0"
                      max="100" ng-model="audioOutputs.audioOutputsService.thisOutput.state.volume" style="width:100%!important" class="list-item-volume-bar" ng-change="audioOutputs.onDeviceVolumeChange(audioOutputs.audioOutputsService.thisOutput)" />
                  </div>
                </div>
              </div>
            </div> <!-- /.device__title -->
            <div class="device__meta">
              <button ng-if="audioOutputs.audioOutputsService.thisOutput.state.status === 'pause'" ng-click="audioOutputs.audioOutputsService.audioOutputPlay(audioOutputs.audioOutputsService.thisOutput)" class="outputs__action device__control device__control--play">
                <i class="fa fa-play"></i>
              </button>
              <button ng-if="audioOutputs.audioOutputsService.thisOutput.state.status === 'play'" ng-click="audioOutputs.audioOutputsService.audioOutputPause(audioOutputs.audioOutputsService.thisOutput)" class="outputs__action device__control device__control--play">
                <i class="fa fa-pause"></i>
              </button>
              <span class="device__meta__song">{{ audioOutputs.audioOutputsService.thisOutput.state.track }} - {{ audioOutputs.audioOutputsService.thisOutput.state.artist }}</span>
            </div>
          </div> <!-- /.device__info -->
        </div> <!-- /.outputs__device -->
      </div> <!-- THIS DEVICE -->

      <!-- GROUP -->
      <div ng-if="audioOutputs.audioOutputsService.groupedOutputs.length > 0">
        <div class="outputs__subtitle small link">
          Active group
        </div>

        <div ng-repeat="group in audioOutputs.audioOutputsService.groupedOutputs" class="outputs__device device groupped">
          <div class="device__thumb">
            <img src="{{group.leader.state.albumart}}" alt="cover image">
          </div>
          <div class="device__info">
            <div class="device__meta">
              <button ng-if="group.leader.state.status === 'pause' || group.leader.state.status === 'stop'" ng-click="audioOutputs.audioOutputsService.audioOutputPlay(group.leader)" class="outputs__action device__control device__control--play">
                <i class="fa fa-play"></i>
              </button>
              <button ng-if="group.leader.state.status === 'play'" ng-click="audioOutputs.audioOutputsService.audioOutputPause(group.leader)" class="outputs__action device__control device__control--play">
                <i class="fa fa-pause"></i>
              </button>
              <span class="device__meta__song">{{ group.leader.state.track }} - {{ group.leader.state.artist }}</span>
            </div>
          </div> <!-- /.device__info -->

          <div class="device__group">

            <div class="device__group__item">
              <div class="device__title">
                <div class="device__title__text">{{ group.leader.name }}</div>
                <div class="device__actions">
                  <div ng-if="group.leader.volumeAvailable" class="device__volume">
                    <label for="{{group.leader.id}}-main" class="outputs__action device__control device__control--volume" title="{{ 'COMMON.TAB_VOLUME' | translate }} {{group.leader.state.volume}}">
                      <i class="outputs__action__icon fa fa-volume-up"></i>
                    </label>
                    <input hidden class="volume-control-activator" id="{{group.leader.id}}-main" type="checkbox">
                    <div class="volume-control__popover">
                      <input type="range" name="volume-slider" id="volume-slider" min="0"
                        max="100" ng-model="group.leader.state.volume" style="width:100%!important" class="list-item-volume-bar" ng-change="audioOutputs.onDeviceVolumeChange(group.leader)" />
                    </div>
                  </div>
                </div>
              </div> <!-- /.device__title -->
              <div class="device__meta">
                This device
              </div>
            </div> <!-- /.device__group__item -->

            <div ng-repeat="output in group.children" class="device__group__item">
              <div class="device__title">
                <div class="device__title__text">{{ output.name }}</div>
                <div class="device__actions">
                  <div ng-if="output.volumeAvailable" class="device__volume">
                    <label for="{{output.id}}-main" class="outputs__action device__control device__control--volume" title="{{ 'COMMON.TAB_VOLUME' | translate }} {{output.state.volume}}">
                      <i class="outputs__action__icon fa fa-volume-up"></i>
                    </label>
                    <input hidden class="volume-control-activator" id="{{output.id}}-main" type="checkbox">
                    <div class="volume-control__popover">
                      <input type="range" name="volume-slider" id="volume-slider" min="0"
                        max="100" ng-model="output.state.volume" style="width:100%!important" class="list-item-volume-bar" ng-change="audioOutputs.onDeviceVolumeChange(output)" />
                    </div>
                  </div>
                </div>
              </div> <!-- /.device__title -->
              <div class="device__meta">
                <button ng-click="audioOutputs.audioOutputsService.disableAudioOutput(output.id)" class="outputs__action outputs__action--primary">Remove</button>
              </div>
            </div> <!-- /.device__group__item -->

          </div> <!-- /.device__group -->

          <div class="device__group__action">
            <button ng-click="audioOutputs.audioOutputsService.removeAllDevices()" class="outputs__action">
              <i class="outputs__action__icon material-icons device__group__remove-icon">speaker_group</i>
              Remove all devices
            </button>
          </div> <!-- /.device__group__action -->
        </div> <!-- device groupped -->

        </div> <!-- /.outputs__device groupped -->

      <!-- /GROUP -->

      <div ng-if="audioOutputs.audioOutputsService.availableOutputs().length > 0">
        <div class="outputs__subtitle small link">
          Available devices
        </div>
  
        <div ng-repeat="output in audioOutputs.audioOutputsService.availableOutputs()" class="outputs__device device">
          <div ng-if="output.state" class="device__thumb">
            <img src="{{output.state.albumart}}" alt="cover image">
          </div>
          <div class="device__info">
            <div class="device__title">
              <div class="device__title__text">{{ output.name }}</div>
              <div class="device__actions">
                <div ng-if="output.volumeAvailable" class="device__volume">
                  <label for="{{output.id}}-main" class="outputs__action device__control device__control--volume" title="{{ 'COMMON.TAB_VOLUME' | translate }} {{output.state.volume}}">
                    <i class="outputs__action__icon fa fa-volume-up"></i>
                  </label>
                  <input hidden class="volume-control-activator" id="{{output.id}}-main" type="checkbox">
                  <div class="volume-control__popover">
                    <input type="range" name="volume-slider" id="volume-slider" min="0"
                      max="100" ng-model="output.state.volume" style="width:100%!important" class="list-item-volume-bar" ng-change="audioOutputs.onDeviceVolumeChange(output)" />
                  </div>
                </div>
              </div>
            </div> <!-- /.device__title -->
            <div class="device__meta">
              <button ng-if="output.state.status === 'pause' || output.state.status === 'stop'" ng-click="audioOutputs.audioOutputsService.audioOutputPlay(output)" class="outputs__action device__control device__control--play">
                <i class="fa fa-play"></i>
              </button>
              <button ng-if="output.state.status === 'play'" ng-click="audioOutputs.audioOutputsService.audioOutputPause(output)" class="outputs__action device__control device__control--play">
                <i class="fa fa-pause"></i>
              </button>
              <span class="device__meta__song">{{ output.state.track }} - {{ output.state.artist }}</span>
            </div>
          </div> <!-- /.device__info -->
        </div> <!-- /.outputs__device -->

      </div> <!-- AVAILABLE DEVICES -->

    </div> <!-- /.outputs__overview -->

    <!-- ====== GROUPING ====== -->

    <div ng-if="audioOutputs.groupView" class="outputs__grouping">
      <!-- Use this div to enter into grouping mode -->
      <div class="outputs__title align-items-center">
        <div class="outputs__title__text">
          Group devices
        </div>
        <div class="outputs__title__action">
          <button ng-click="audioOutputs.toggleView()" class="outputs__action">
            Done
          </button>
        </div>
      </div> <!-- /.outputs__title -->

      <div class="outputs__device device">
        <div class="device__thumb small">
          <img src="{{ audioOutputs.audioOutputsService.thisOutput.state.albumart }}" alt="cover image">
        </div>
        <div class="device__info">

          <div class="device__title">
            <div class="device__title__text">{{ audioOutputs.audioOutputsService.thisOutput.name }}</div>
          </div> <!-- /.device__title -->
          <div class="device__meta">
            <span class="device__meta__song">This device</span>
          </div>

          <div ng-repeat="output in audioOutputs.audioOutputsService.enabledOutputs()" class="device__title">
            <div class="device__title__text">{{ output.name }}</div>
            <div class="device__actions">
              <button ng-click="audioOutputs.audioOutputsService.disableAudioOutput(output.id)" class="outputs__action outputs__action--primary">Remove</button>
            </div>
          </div> <!-- /.device__title -->

        </div> <!-- /.device__info -->

      </div> <!-- /.device -->

      <div ng-if="audioOutputs.audioOutputsService.enabledOutputs().length > 0" class="device__group__action">
        <button ng-click="audioOutputs.audioOutputsService.removeAllDevices()" class="outputs__action">
          <i class="outputs__action__icon material-icons device__group__remove-icon">speaker_group</i>
          Remove all devices
        </button>
      </div> <!-- /.device__group__action -->

      <div>
        <div ng-if="audioOutputs.audioOutputsService.availableOutputs().length > 0" class="outputs__subtitle small">
          Available devices
        </div>
        <div ng-repeat="output in audioOutputs.audioOutputsService.availableOutputs()" class="outputs__device device">
          <div class="device__thumb small">
            <img src="{{output.state.albumart}}" alt="cover image">
          </div>
          <div class="device__info">
  
            <div class="device__title">
              <div class="device__title__text">{{ output.name }}</div>
              <div class="device__actions">
                <button ng-if="!output.enabled" ng-click="audioOutputs.audioOutputsService.enableAudioOutput(output.id)" class="outputs__action outputs__action--primary">Add</button>
                <button ng-if="output.enabled" ng-click="audioOutputs.audioOutputsService.disableAudioOutput(output.id)" class="outputs__action outputs__action--primary">Add</button>
              </div>
            </div> <!-- /.device__title -->
  
          </div> <!-- /.device__info -->
  
        </div> <!-- /.device -->
      </div> <!-- GROUPABLE DEVICES -->

    </div> <!-- /.outputs__grouping -->


  </div> <!-- /.outputs__menu -->

  <!-- <div id="menuList" role="group" ng-if="audioOutputs.menuVisible" style="width:350px; max-width: 100%;">
    <div class="list-title pull-left" translate="MULTIDEVICE.PLAYBACK_ZONES"></div>
    <div class="close-output-button pull-right">
      <button id="closeMenuBtnOutputs" ng-click="audioOutputs.toggleMenu()" class="btn btn-link pull-right">
        <i class="fa fa-times"></i>
      </button>
      </div>
    <div class="group-container" ng-if="audioOutputs.audioOutputsService.outputs.length">
      <div ng-repeat="item in audioOutputs.audioOutputsService.outputs track by $index" class="list-item-div">
        <div class="row output-item">
          <div class="col-xs-18" id="device-wrapper">
        <button ng-if="item.isSelf" class="btn-link btn-block list-item-button self" disabled>
          <img class="list-item-albumart" ng-src="{{item.state.albumart}}" />
          <span class="list-item-name">{{item.name}}</span>
          <span class="list-item-type">{{audioOutputs.showArtistAndTitle(item.state.artist,item.state.track,item.type)}}</span>
        </button>
        <button ng-if="!item.isSelf" ng-click="audioOutputs.onDeviceClick(item)" class="btn-link btn-block list-item-button">
          <img class="list-item-albumart" ng-src="{{item.state.albumart}}" />
          <span class="list-item-name">{{item.name}}</span>
          <span class="list-item-type">{{audioOutputs.showArtistAndTitle(item.state.artist,item.state.track,item.type)}}</span>
        </button>
        </div>
        <div class="col-xs-6" id="device-group-wrapper">
        <span ng-if="!item.isSelf" class="device-group-icon">
          <i
          class="{{item.enabled === true ? 'fa fa-minus-circle output-enabled' : 'fa fa-plus-circle'}}"
          ng-click="audioOutputs.toggleAudioOutput(item.id, item.enabled)"/>
        </span>
        </div>
        </div>
        <input ng-show="{{item.volumeAvailable}}" type="range" name="volume-slider" id="volume-slider" min="0"
            max="100" ng-model="item.state.volume" class="list-item-volume-bar" ng-change="audioOutputs.onDeviceVolumeChange(item)" />
      </div>
    </div>

  </div> -->
</div>
