src/app/ngConstants.js
src/app/local-config.json
dist/
node_modules/
inject/
.sass-cache/
.idea/
.tmp/
src/app/themes/*
!src/app/themes/volumio/*
src/app/themes/volumio/assets/variants/*
!src/app/themes/volumio/assets/variants/volumio/*
load-variant.scss
