src/app/ngConstants.js
src/app/volumio.constant.js
src/app/local-config.json
dist/
node_modules/
bower_components/
.sass-cache/
.idea/
.tmp/
load-variant.scss
/nbproject/
.DS_Store
src/app/volumio.constant.js
package-lock.json
credits.html
load-variant.scss
