language: node_js

node_js:
- '10.22.1'

branches:
  only:
  - master

install:
  - npm install -g bower
  - npm install -g gulp
  - npm install -g karma
  - npm install phantomjs
  - npm install
  - bower install

if: "branch = master"

script: bash ./travis-script.sh

deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: YrZFaMDCNDkBDCfe+/Yn7GlCNw0OPcr4bST9pXqMhGWenw1aLDE4sl9JmGdIUtLVLt1rtIXuL1MuFZM+t2AKIS2RiYdqIUWAjZ/4pAYtK/MuRSelTsjbZLCdmxPDKbTFMHMJb21+zKZ9ylMrC1YWo3LKik7TlQWc1T6Mi++c2BqgLQKLEorcYI30P7SvZgO0oaznQsys6XAQlq7eRvLLt1IjehyW4MmxR7wgYWuGgoN1kneiwv5raarB+h/w4yOxw6BA53kIA+S9/sbnR02s6VOULWLkp5sFqqE30WpXGO+9fKNrmyZQ0erEoH61XAGRj4cAaeIkvNzrv3Jt05szWU+CmORBvv3KGvCBqcR3O4W7LJYqHiMDCgCb30GxH5B70lp6wNIErbsum26QxB21DGO/3qo1ESvoRiMN5MwYcmRwjvVPSFIqFORN/jo265fTtecuPV3kM5eGE6Dypdy91HAIhng7a8keFDcY51FA851ADD3QZsxU3jTCn1Ffu2o8FLz2vR2E44pD1kOI7xu56TjTg+MJsWpNfrM1hjGFyRjFdEd2MUkbgME1DHUVt6v1BIpSdM4HW1bynV2cWRpv8+uhs2SON08r25CFkdNGIA5AZczYalLOUmBKy7FLsICSmGpSMQhr6O15RU3GXG2CMnOu9FjrXKZKwLORY3Ph89o=
  message: "Deployed from Travis CI"

env:
  global:
    - GH_REF: github.com/volumio/Volumio2-UI.git
    - secure: ZT1QA2d3NEc2IouC2GlyIm5rS/wI4NM31wgquEvu4lniy1Z2E9Wj+6p+4QeV3vWiLxjWzZnrLRaszT4A6SbtfbiDLUyPdGieArgnUAOuNWthFUDmk7m84opD5qR6/HaA+chou12JDNcr/CsnMLcXjG8r0gAraJobMDlQDQt0MuK4fX/FdJILjWfCfkK1OyN/zWbIw9w39jtSIGDdOTjKwQaqAVgPU2b1UIhCmn17E/AxuY/pmGh14DXI8rAEDJuM2H2cg5jHTpq1AUDX8IF1pGXAtpPNrVdZwj9JxYYN4biRYIt8wYihA709g/rT7qtgXhjIjr5kOyLPeycy8yi3Gd/ji7PtHqk1/f4Hby/O3LFYFHd5p8FV3OuJ9y39BgFOiDZ59JtU1GpbrAw4b8W0eZ/BZcXHx/E/BdpXbD9z1Cv8BanrISO87JSpSbGnjmaNKVcaky4F74arj2Kv5yHcyKtGiADUGSqP4k31HBsBZ7z9/ei8U0LrVYpLZ3sBdoGupF9PCFGjF6bA31LECNDH02a76Sqpbc9ZQwX8jKDzZS+Ef9Jlv5sE06i4WqD8eWUrde0R1s7zxlwCGgkH1OxeH0xDzYzBSdzWlU0mvpb4/HsfP4VGvc9JqmL00C76gMS+0Qgf4lWR+zEL7oMaJjNbaZL4AB+2MTRw8KF82szm4UA=
