<div id="volumeManager">
  <div>
        <knob knob-data="volumeManager.playerService.volume"
        knob-options="volumeManager.knobOptions"></knob>
  </div>
  <div>
    <strong>volume</strong> : {{volumeManager.playerService.volume}}
  </div>
  <div id="volumeButtonBar">
    <button ng-click="volumeManager.playerService.volumeUp()">VolumeUp</button>
    <button ng-click="volumeManager.playerService.volumeDown()">VolumeDown</button>
    <button ng-click="volumeManager.playerService.toggleMute()">
      <span ng-if="volumeManager.playerService.state.mute">Unmute</span>
      <span ng-if="!volumeManager.playerService.state.mute">Mute</span>
    </button>
    <br>
    <input type="text" ng-model="volumeManager.playerService.volume">
  </div>
</div>
