<div id="volumeManager">
  <div>
    slider
  </div>
  <div>
    <strong>volume</strong> : {{volumeManager.playerService.volume}}
  </div>
  <div id="volumeButtonBar">
    <button ng-click="volumeManager.playerService.volumeUp()">VolumeUp</button>
    <button ng-click="volumeManager.playerService.volumeDown()">VolumeDown</button>
    <button ng-click="volumeManager.playerService.mutePlayer()">Mute</button>
    <br>
    <input type="text" ng-model="volumeManager.playerService.volume">
  </div>
</div>
