<div id="volumeManager">
  <div>
    <knob
      value="volumeManager.volume"
      options="volumeManager.knobOptions">
    </knob>
  </div>

  <div id="volumeButtonBar">
    <button ng-click="volumeManager.playerService.volumeUp()">VolumeUp</button>
    <button ng-click="volumeManager.playerService.volumeDown()">VolumeDown</button>
    <button ng-click="volumeManager.playerService.toggleMute()">
      <span ng-if="volumeManager.playerService.state.mute">Unmute</span>
      <span ng-if="!volumeManager.playerService.state.mute">Mute</span>
    </button>
  </div>
</div>
