<div class="wizard-panel col-sm-12 col-sm-offset-5">
  <div class="row">
    <h3 translate="WIZARD.SOCIAL_SHARE"></h3>

    <a href="https://twitter.com/share"
        class="twitter-share-button"
        data-url="https://volumio.org/"
        data-via="volumio"
        data-text="tweet text"
        data-hashtags="volumio Audiophile">
       Tweet
    </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>  </div>

  <br />

  <div class="row">
    <h3 translate="WIZARD.MAIL_LIST_SUBSCRIPTION"></h3>
    <form  name="wizard.mailListForm" ng-submit="wizard.subscribeToMailList()">
      <input
          id="EMAIL"
          name"EMAIL"
          type="text"
          class="form-control"
          placeholder="{{'COMMON.EMAIL' | translate}}"
          ng-model="wizard.wizardData.mailListData.EMAIL">
      <br>
      <div
          class="text-center"
          ng-if="wizard.wizardData.mailListSubscribed"
          translate="WIZARD.SUBSCRIBED_SUCCESFULLY">
      </div>
      <br>
      <div>
        <button
          class="btn btn-info"
          type="submit"
          translate="COMMON.SUBSCRIBE_ME">
        </button>
      </div>
    </form>
  </div>

</div>
