  <h5 class="h-wizard" translate="WIZARD.GET_APPS"></h5>
<div class="row">
<div class="col-md-8 text-center">
<a href='https://play.google.com/store/apps/details?id=volumio.browser.Volumio' target="_blank"><img alt='Get it on Google Play' ng-src="{{assetsUrl + '/graphics/android-app-store-get.png'}}"  style="max-height:100px;padding:20px;"/></a>
</div>
<div class="col-md-8 text-center">
<a href='https://itunes.apple.com/app/volumio/id1268256519?mt=8' target="_blank" ><img alt='Get it on App Store' ng-src="{{assetsUrl + '/graphics/ios-app-store-get.png'}}" style="max-height:100px;padding:20px;"/></a>
</div>
<div class="col-md-8 text-center">
<a href='https://www.amazon.com/INTUITU-di-Michelangelo-Guarise-Volumio/dp/B074CRD3LP/' target="_blank"><img alt='Get it on Amazon' ng-src="{{assetsUrl + '/graphics/amazon-app-store-get.png'}}" style="max-height:100px;padding:20px;"/></a>
</div>
</div>
