<div id="myvolumio-paying-modal">
  <div class="modal-header">
    <h3 class="modal-title">{{::modal.dataObj.title}}</h3>
  </div>
  <div class="modal-body">
    <h4 translate="MYVOLUMIO.PAYING"></h4>
    <p translate="MYVOLUMIO.PAYING_DESC"></p>
  </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-primary" ng-click="modal.ok()">Add</button> -->
    <!--<button class="btn btn-warning" ng-click="modal.cancel()">
      {{'COMMON.CLOSE' | translate}}
    </button>-->
  </div>
</div>