.tabBar {
  button {
    @include make-xs-column(8, 0);
    font-size: 18px;
    border-radius: 0px !important;
    border: none !important;
    height: $footerHeight;
    img {
      width:25px;
      height:25px;
      @include breakpoint(xs) {
        width: 30px;
        height: 30px;
      }
    }
    &.browseBtn {
      background-color: $volumio-accent-color;
    }
    &.playbackBtn {
      background-color: $volumio-light-color;
      &:focus {
        background-color: $volumio-accent-color;
      }
    }
    &.queueBtn {
      background-color: $volumio-accent-color;
    }
    @include breakpoint(xs) {
      font-size: 26px;
    }
    span {
      margin-left: 10px;
      @extend .hidden-xs;
    }
  }
}
