<div class="tabBar">
  <button
      ui-sref="volumio.browse"
      class="btn btn-default browseBtn"
      ng-class="{selected: state.current.name === 'volumio.browse'}"
      title="Browse">
    <img
        ng-if="!footer.playerService.dbUpdate"
        src="/app/themes/volumio/assets/icons/volumio_icon_note.svg"
        alt="Browse"/>
    <i ng-if="footer.playerService.dbUpdate" class="fa fa-refresh fa-spin"></i>
    <span>Browse</span>
  </button>

  <button
      ui-sref="volumio.playback"
      class="btn btn-default playbackBtn"
      ng-class="{selected: state.current.name === 'volumio.playback'}"
      title="Playback">
    <img src="/app/themes/volumio/assets/icons/volumio_icon_volumio-icon.svg" alt="Playback"/>
    <span>Playback</span>
  </button>

  <button
      ui-sref="volumio.play-queue"
      class="btn btn-default queueBtn"
      ng-class="{selected: state.current.name === 'volumio.play-queue'}"
      title="Queue">
    <img src="/app/themes/volumio/assets/icons/volumio_icon_queue.svg" alt="Queue"/>
    <span>Queue</span>
  </button>
</div>
