<div id="multiRoomDockWrapper">
  <div ng-repeat="device in multiRoomDock.multiRoomService.devices.list"
      class="device"
      ng-class="{selected: device.host === multiRoomDock.socketService.host}">
    <div class="deviceName"><strong>{{device.name}}</strong> ({{device.state.status}}) </div>
    <div>{{device.state.artist}}</div>
    <div>{{device.state.track}}</div>
    <div ng-if="device.host !== multiRoomDock.socketService.host">
      <button ng-click="multiRoomDock.changeDevice(device)">
        Change device
      </button>
      <button ng-if="device.state.status === 'stop' || device.state.status === 'pause'"
          ng-click="multiRoomDock.changeDevice(device)">
        Play
      </button>
      <button ng-if="device.state.status === 'play'" ng-click="multiRoomDock.changeDevice(device)">
        Stop
      </button>
    </div>
  </div>
</div>
