<div id="trackManager">
  <div>
    {{trackManager.playerService.seekPercent}}
    <slider
      ng-model="trackManager.playerService.seekPercent"
      min="0"
      step="1"
      max="1000"
      slider-tooltip="hide">
    </slider>
  </div>
  <div>
    <strong>repeatTrack</strong>: {{trackManager.playerService.repeatTrack}}
    <strong>repeatAlbum</strong>: {{trackManager.playerService.repeatAlbum}}
    <strong>shuffle</strong>: {{trackManager.playerService.shuffle}}
  </div>
  <div id="trackButtonBar">
    <button ng-click="trackManager.playerService.shuffle()">Shuffle</button>
    <button ng-click="trackManager.playerService.repeatTrack()">Repeat track</button>
    <button ng-click="trackManager.playerService.repeatAlbum()">Repeat album</button>
  </div>
</div>
