<div class="panel panel-default">
  <div class="panel-body">
    <h4>
      <span class="glyphicon glyphicon-warning-sign"></span>
      <span translate="MYVOLUMIO.PLEASE_VERIFY_EMAIL_TITLE"></span>
    </h4>
    <p translate="MYVOLUMIO.PLEASE_VERIFY_EMAIL_DESC"></p>
    <p>
      <a style="cursor: pointer" ng-click="myVolumioVerificationCardController.resendEmailVerification()" translate="MYVOLUMIO.RESEND_VERIFICATION_EMAIL"></a>
    </p>
    <p>
      <a style="cursor: pointer" ng-click="myVolumioVerificationCardController.reAuth()" translate="MYVOLUMIO.VERIFICATION_DONE_NOW_REMYVOLUMIO"></a>
    </p>
  </div>
</div>