<div class="container">
  <h3>Host</h3>
  <input type="text" name="name" value="" ng-model="debug.socketService.host" style="width:350px;">
  <button ng-click="debug.socketService.host = debug.socketService.host" type="button" name="button">
    Change Host
  </button>
  <hr>


  <h3>Player status</h3>
  <player-status></player-status>
  <hr>

  <h3>Player buttons</h3>
  <player-buttons></player-buttons>
  <hr>

  <h3>Volume manager</h3>
  <volume-manager></volume-manager>
  <hr>

  <h3>Track manager</h3>
  <track-manager></track-manager>

  <h3>Modal</h3>
  <button type="button" name="button" ng-click="debug.openModal()">
    Open Modal
  </button>

  <hr>
  <h3>Toast Messages</h3>
  <div class="">
    <button type="button" name="button"
        ng-click="debug.toastMessageService.showMessage('success', 'Messaggio', 'Success')">
      Success
    </button>
    <button type="button" name="button" class="btn-info"
        ng-click="debug.toastMessageService.showMessage('info', 'Messaggio', 'Info')">
      Info
    </button>
    <button type="button" name="button" class="btn-warning"
        ng-click="debug.toastMessageService.showMessage('warning', 'Messaggio', 'Warning')">
      Warning
    </button>
    <button type="button" name="button" class="btn-danger"
        ng-click="debug.toastMessageService.showMessage('error', 'Messaggio', 'Error')">
      Error
    </button>
  </div>

  <h3>Playlist</h3>
  TODO
  <br>

  <div class="hide">
    <h3>Test API</h3>
    <input type="text" ng-model="debug.apiMethod">
    <input type="text" ng-model="debug.apiParams">
    <button type="button" name="button" class="btn-danger"
        ng-click="debug.callApi()">
      Call API
    </button>
    <br>
  </div>

  <h3>Logger</h3>
  <player-logger></player-logger>
</div>
