<favourite-track-btn></favourite-track-btn>

<button
    ng-class="{'active': trackManager.playerService.state.random}"
    ng-click="trackManager.playerService.shuffle()"
    class="btn btn-link"
    title="{{'BROWSER.RANDOM' | translate}}"
    ng-disabled="trackManager.playerService.state.disableUi">
  <i class="fa fa-random"></i>
</button>
<button
    ng-class="{'active': trackManager.playerService.state.repeat}"
    ng-click="trackManager.playerService.repeatAlbum()"
    class="btn btn-link"
    title="{{'BROWSER.REPEAT' | translate}}"
    ng-disabled="trackManager.playerService.state.disableUi">
  <i class="fa fa-repeat"></i>
</button>

<add-track-to-playlist-btn></add-track-to-playlist-btn>