$volumio-green-color: #54C698;
$volumio-red-color: #DF4649;
$volumio-light-color: #7a848e;
$volumio-dark-color: #3C3C3C;
$volumio-deep-dark-color: #090909;
$volumio-accent-color: #333;
$volumio-text-color: #FFF;
$volumio-dark-text-color: #AAA;
$volumio-background-color: #555;
$volumio-grey-trans-dark: rgba(20,20,20,0.6);
$volumio-black-trans-dark: rgba(0,0,0,0.6);
$volumio-playbtn-gradient: linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 72%, rgba(0,0,0,0.6) 72%, rgba(0,0,0,0.6) 100%);
$volumio-table-border-color: #7C7C7C;


$text-grey-color: #999;
$body-bg: transparent;
$brand-primary: #222;
