#wizardScrim {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  display: none;
}
#wizard {
  height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  overflow-y: auto;
  overflow-x: hidden;
  h1 {
    text-align: center;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 20px;
  }
  #wizard-container {
    border: solid 1px $theme-primary-color;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 25px 65px 25px;
    min-height: 450px;
    #custom-amount {
      display: inline-block;
      width: 55px;
    }
    .btn-facebook {
      background-color: $fb-color;
      border-color: $fb-color;
    }
    .btn-twitter {
      background-color: $twitter-color;
      border-color: $twitter-color;
    }
    .fb-share-button {
      display: inline-block;
      margin-right: 10px;
    }
  }
  #wizard-navigator {
    text-align: center;
    h1 {
      margin-top: 0;
      font-size: 22px;
    }
    button {
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        color: $link-color;
      }
      &.selected {
        background-color: #333 !important;
        border-bottom: solid 1px $theme-primary-color;
        border-radius: 0;
        transition: all .3s;
      }
    }
  }
  #button-bar{
    position: absolute;
    bottom: 10px;
    right: 25px;
  }
}

tr.wifiwizard.ng-scope {
    font-size: 12px;
}

#wizard-wifi-spinner i.fa.fa-spinner.fa-pulse {
    font-size: 90px;
    margin: 30px 50% 30px 50%;
}

#wizard-wifi-message {
    margin-top: 50px;
}


.h-wizard {
    margin-top: 30px;
    margin-left: 20px;
}

#status-bar {
    position: absolute;
    bottom: 20px;
    left: 40px;
}

.done-message {
    margin-top: 20px;
    margin-bottom: 20px;
}

.congratulations-message {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    color: $theme-primary-color;
}

div#logo-wizard {
    left: 50%;
    text-align: center;
    padding: 30px;
}

form#donate-button {
    display: inline-block;
}

img.btc-qr-code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.modal-donate-address {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.crypto-donate {
    margin-top: 20px;
    font-size: 15px;
}
