#axiom{
  footer {
    //@include make-row();
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 2;
    bottom: 0;
    height: $footerHeight;
    padding-top: 8px;
    border: solid 0px green;
    .footerBtn{
      @include make-xs-column(8);
    }
    button{
      @extend .btn-block, .btn-info;
      span {
        margin-left: 10px;
        @extend .hidden-xs;
      }
    }
  }
}
