<div id="trackInfo">
  <div>
    <div id="trackInfo-album" ng-if="trackInfo.playerService.state.album">
      {{trackInfo.playerService.state.album}}
    </div>
    <div id="trackInfo-title" ng-if="trackInfo.playerService.state.title">
      {{trackInfo.playerService.state.title}}
    </div>
    <div id="trackInfo-artist" ng-if="trackInfo.playerService.state.artist">
      {{trackInfo.playerService.state.artist}}
    </div>

    <div id="trackInfo-techInfos" ng-if="trackInfo.playerService.state.samplerate ||
        trackInfo.playerService.state.bitdepth ||
        trackInfo.playerService.state.service">
      <span ng-if="trackInfo.playerService.state.service">
        {{trackInfo.playerService.state.service}}
      </span>
      <span ng-if="trackInfo.playerService.state.samplerate">
        | {{trackInfo.playerService.state.samplerate}} Khz
      </span>
      <span ng-if="trackInfo.playerService.state.bitdepth">
        | {{trackInfo.playerService.state.bitdepth}} bit
      </span>
    </div>
  </div>

  <div ng-if="trackInfo.playerService.state.albumart">
    <img
        ng-if="trackInfo.playerService.state.albumart"
        ng-src="{{trackInfo.playerService.state.albumart}}"
        alt="{{trackInfo.playerService.state.album}}"/>
    <i
        ng-if="trackInfo.playerService.state.icon"
        class="{{trackInfo.playerService.state.icon}}">
    </i>
  </div>
</div>
