#trackInfo {
  @include make-xs-column(24);
  // border: solid 1px #999;
  text-align: center;
  #trackDetails {
    height: 100px;
  }
  #trackInfo-album {
    font-size: 12px;
  }
  #trackInfo-title {
    font-size: 20px;
    color: $volumio-green-color;
    max-height: 60px;
    overflow: hidden;
  }
  #trackInfo-artist {
    font-size: 14px;
  }
  #trackInfo-techInfos {
    margin-top: 5px;
    color: darken($volumio-light-color, 0%);
  }
  img {
    width:100%;
    margin: 10px auto;
  };
}
