// COLORS
$theme-primary-color: #54C688;
$theme-accent-color: #333;
$theme-danger-color: #DF4649;
$theme-light-color: #7a848e;
$theme-dark-color: #3C3C3C;
$theme-darker-color: #090909;


$theme-background-color: #555;
$theme-transparent-background: rgba(20, 20, 20, 0.6);
$theme-dark-transparent-background: rgba(0, 0, 0, 0.6);
$theme-playbtn-gradient: linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 72%, rgba(0, 0, 0, 0.6) 72%,
  rgba(0, 0, 0, 0.6) 100%);
$theme-table-border-color: #7C7C7C;


$theme-text-color: #FFF;
$theme-dark-text-color: #AAA;
$theme-darker-text-color: #999;

$body-bg: transparent;
$brand-primary: #222;

$knob-foreground-color: $theme-primary-color;
$knob-background-color: rgba(0, 0, 0, 0.2);

// FONTS
$fonts-path: "/app/themes/volumio/assets/variants/volumio/fonts";

@font-face {
  font-family: 'Lato';
  src: url('#{$fonts-path}/Lato-Regular.eot');
  src: url('#{$fonts-path}/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-path}/Lato-Regular.woff') format('woff'),
       url('#{$fonts-path}/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$fonts-path}/Lato-Light.eot');
  src: url('#{$fonts-path}/Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-path}/Lato-Light.woff') format('woff'),
       url('#{$fonts-path}/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$fonts-path}/Lato-Bold.eot');
  src: url('#{$fonts-path}/Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-path}/Lato-Bold.woff') format('woff'),
       url('#{$fonts-path}/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

$font-family-sans-serif: "Lato";

// CSS EXPOSED FOR JS READ
// Color is used for the knob foreground color
// Background color is used for knob background color
#cssExposer {
  color: $knob-foreground-color;
  background-color: $knob-background-color;
  display: none;
}

.toast-success {}

.toast-info {}

.toast-error {}

.toast-warning {}
