.music-item {
    flex: 1 0 100%;
    display: flex;
    min-width: 0;
    padding: 8px;
    align-items: center;
    border-bottom: 1px solid $theme-accent-color;
    cursor: pointer;
    transition: background-color 0.15s ease-out 0s;
    &:hover {
        background-color: rgba($theme-accent-color, .5);
        .item__play,
        .item__favorite {
            opacity: 1;
        }
    }
    &.title {
        padding: 24px 16px;
        font-size: 18px;
        line-height: 20px;
        pointer-events: none;
        border-bottom: none;
    }
}

.item__play {
    display: none;
    flex: 0 0 48px;
    padding: 8px 0 8px 8px;
    opacity: 0;
    .play-btn {
        width: 32px;
        height: 32px;
        border: 2px solid white;
        border-radius: 40px;
        font-size: 12px;
    }
    .play-btn__icon {
        padding-left: 2px;
    }
}

.item__image {
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.item__image__img {
    width: 100%;
}

.item__number {
    display: inline-block;
    text-align: center;
    color: $theme-light-color;
    padding: 0 16px 0 0;
}

.item__albumart {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.item__albumart-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

.item__info {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;

    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.item__title {
    flex: 1 1 100%;
    margin-bottom: 8px;
}
.item__album {
    flex: 0 1 auto;
    padding: 0 4px;
    color: $theme-primary-color;
}
.item__artist {
    flex: 0 1 auto;
}

.item__artist {
    padding: 0 4px 0 0;
    color: $theme-light-color;
}

.item__info__separator {
    padding: 0 6px;
}

.item__favorite {
    display: none;
    flex: 0 0 auto;
    padding: 0 8px;
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.15s ease-out 0s;
    &.favorited {
        opacity: 1;
        color: $theme-primary-color;
        -webkit-text-fill-color: $theme-primary-color;
        text-fill-color: $theme-primary-color;
        text-stroke: 1px transparent;
        -webkit-text-stroke: 1px transparent;
    }
}

.item__duration {
    padding: 0 8px;
    min-width: 64px;
}

.item__actions {
    padding-right: 8px;
    .action-btn {
        padding: 0 8px;
    }
    .align-to-right {
        left: auto;
        right: 0;
    }
}

@media (min-width: 768px) {

    .music-item {
        padding: 0;
    }
    
    .item__play {
        display: block;
    }
    .item__info {
        flex-wrap: nowrap;
    }
    .item__title,
    .item__album,
    .item__artist {
        flex: 0 0 calc(100% / 3);
        min-width: 0;
        margin-bottom: 0;
    }

    .item__album,
    .item__artist {
        color: $theme-light-color;
    }

    .item__info__separator {
        display: none;
    }

    .item__favorite {
        display: block;
        opacity: 0;
        &:hover {
            color: $theme-primary-color;
            -webkit-text-fill-color: $theme-primary-color;
            text-fill-color: $theme-primary-color;
            text-stroke: 1px transparent;
            -webkit-text-stroke: 1px transparent;
        }
    }
}