.music-card {
    width: 100%;
}

.music-card__header {
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 100%;
    background: rgba(0, 0, 0, .6)
}

.music-card__img,
.music-card__img-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.music-card__img-icon {
    background: rgba(20,20,20,.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa {
        font-size: 50px;
    }
}
.music-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.15s ease-out 0s;
    pointer-events: none;
}

.music-card__info {
    display: flex;
    min-width: 0px;
    justify-content: space-between;
    align-items: center;
}

.music-card__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.music-card__meta {
    font-size: 13px;
    line-height: 15px;
    color: $theme-light-color;
    margin-top: 6px;
}

 .music-card__extension {
     display: block;
     flex: 0 0 20px;
     max-width: 20px;
}

.meta__genre {
    position: absolute;
    top: 12px;
    left: 12px;
    width: calc(100% - 24px);
    opacity: 0;
    transition: opacity 0.15s ease-out 0s;
}

.meta__actions {
    position: absolute;
    top: 12px;
    right: 6px;
    width: 24px;
    text-align: center;
    .hidden {
        display: none;
    }
    .action-btn {
        opacity: 0;
        transition: opacity 0.15s ease-out 0s;
        &:hover,
        &:active,
        &:focus {
            color: $theme-primary-color;
            outline: none;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.2);
            z-index: inherit;
            filter: blur(6px);
            transform: translate3d(0,0,0);
        }
        .fa {
            position: relative;
            z-index: 20;
        }
    }
    .dropdown-menu {
        border-radius: 8px;
        background: rgba(0,0,0,.8);
    }
}

.meta__play {
    position: absolute;
    bottom: 12px;
    left: 12px;
    opacity: 0;
    transition: opacity 0.15s ease-out 0s;
    .play-btn {
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 2px solid rgba(255, 255, 255, 1);
        align-items: center;
        justify-content: center;
        transition: all 0.15s ease-out;
        &:hover,
        &:focus {
            border-color: $primary-alt;
            background-color: rgba($primary-alt, 0.5);
            outline: none;
        }
        &:active {
            transform: scale(1.06);
            outline: none;
        }
    }
    .play-btn__icon {
        margin-top: 2px;
        margin-left: 3px;
    }
}

.meta__favorite {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 20px;
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 0.15s ease-out 0s;
    &.favorited {
        opacity: 1;
        color: $theme-primary-color;
        -webkit-text-fill-color: $theme-primary-color;
        text-fill-color: $theme-primary-color;
        text-stroke: 1px transparent;
        -webkit-text-stroke: 1px transparent;
    }
    &:hover {
        color: $theme-primary-color;
        -webkit-text-fill-color: $theme-primary-color;
        text-fill-color: $theme-primary-color;
        text-stroke: 1px transparent;
        -webkit-text-stroke: 1px transparent;
    }
}

.hamburgerMenu.dropdown.open {
    .action-btn {
        opacity: 1;
    }
}

@media (min-width: 768px) and (pointer: fine) {
    .music-card {
        &:hover {
            cursor: pointer;
            .music-card__overlay {
                pointer-events: auto;
                background-color: rgba(0, 0, 0, .6);
            }
            .meta__genre,
            .action-btn,
            .meta__play,
            .meta__favorite {
                opacity: 1;
            }
        }
    }
}

img.music-card__extension.tagrow {
    display: inline;
    height: 18px;
}
