.myvolumio-card-container {

  font-color: $theme-text-light-color;

  .myvolumio-card-logged{

    .card-heading{

      padding-right: 0;
      padding-left: 0;
      position: relative;
      height: 60px;

      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 60px;
        height: 60px;

        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;

        border: 4px solid $theme-primary-color;
      }

    }

    .card-body{

      text-align: left;
      padding-top: 16px;

      .user-name {
        font-size: 16px;
        color: $theme-light-color;
        overflow: hidden;
      }

      .user-username {
        color: $theme-light-color;
        font-size: smaller;
      }

    }

  }

  .myvolumio-card-not-logged{
    .panel{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }


    .btn{
      overflow: hidden;
    }

    .profile-userbuttons {
      text-align: center;
      margin-top: 10px;
    }

    .profile-userbuttons .btn {
      text-transform: uppercase;
      font-size: 11px !important;
      font-weight: 600;
      padding: 6px 4px !important;
      margin-right: 5px;
    }

    .profile-userbuttons .btn:last-child {
      margin-right: 0px;
    }

  }

}
