.myvolumio-card-container {
  overflow: hidden;
  padding: 8px;
  margin-bottom: 0px;

  .btn{
    overflow: hidden;
  }

  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: 600;
    padding: 6px 4px !important;
    margin-right: 5px;
  }

  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }

  .myvolumio-card-logged{

      .avatar-box { 
        padding-right: 0px !important;
      }
      .profile-userpic img {
        float: none;
        margin: 0 auto;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
      }
      .profile-usertitle {
        text-align: left;
      }
      .profile-usertitle-name {
        color: #5cb85c;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 7px;
      }
      .profile-usertitle-username {
        text-transform: uppercase;
        color: $theme-light-color;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      
      .nopadding {
        padding: 0;
        margin: 0;
      }

      .avatar-box.nopadding {
        padding-left: 8px;
      }
      .usedata-box.nopadding {
        padding-left: 8px;
      }

      .profile-userbuttons .btn {
        text-align: center !important;
        text-transform: uppercase;
      }

  }

  .myvolumio-card-not-logged{
    .panel{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }

}

#content{
  .myvolumio-card-not-logged .panel.access-panel{
    margin-bottom: 8px;
  }
}