.my-volumio__user-card {
  display: flex;
  margin: 48px 0;
  &__user {
    display: flex;
    justify-content: space-between;
  }
  &__user-avatar {
    align-self:center;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-right: 12px;
  }
  &__user-name {
    font-size: 20px;
  }
  &__action-icon {
    width: 9px;
    height: 16px;
    margin-top: 6px;
  }
}


.capitalize {
  text-transform: capitalize;
}

.panel.panel-default.myvolumio-card-container {
  @include breakpoint(xs) {
    margin-top: 0px;
    background-color: $theme-sidebar-background-color;
  }
}
