<div class="myvolumio-card-container">

  <div class="myvolumio-card-logged" ng-if="myVolumioUserCardController.user != null">

    <div class="row" style="display: flex;flex-wrap: wrap;">

      <div class="col-xs-6 col-md-8">
        <my-volumio-avatar-image>
        </my-volumio-avatar-image>
      </div>

      <div class="col-xs-18 col-md-16" style="padding-left: 0px; position: relative;">

        <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="myVolumioUserCardController.goToProfile()">
          <span class="fa fa-bars"></span>
        </button>
        <div style="clear: both;"></div>

        <div class="user-name" style="position: absolute; bottom: 0; left: 0;">
            <span ng-if="myVolumioUserCardController.isUserFilledWithMandatory()">
              {{myVolumioUserCardController.user.firstName}}
            </span>
          <span ng-if="!myVolumioUserCardController.isUserFilledWithMandatory()" translate="MYVOLUMIO.LOGGED_BY_SOCIAL"></span>
        </div>

        <div style="clear: both;"></div>
      </div>

    </div>

  </div>

  <div class="myvolumio-card-not-logged" ng-if="myVolumioUserCardController.user == null">
    <div class="row">
      <div class="col-xs-24" style="padding-bottom: 16px;">

        <p class="title" translate="MYVOLUMIO.MY_VOLUMIO"></p>
        <div class="profile-userbuttons">
          <a class="btn btn-sm btn-primary" ng-click="myVolumioUserCardController.logIn()">
            <small>
              <i class="glyphicon glyphicon-log-in"></i>
              <span translate="MYVOLUMIO.LOGIN"></span>
            </small>
          </a>
          &nbsp;
          <a class="btn btn-sm btn-primary" ng-click="myVolumioUserCardController.signUp()">
            <small>
              <i class="glyphicon glyphicon-user"></i>
              <span translate="MYVOLUMIO.SIGNUP"></span>
            </small>
          </a>
        </div>

      </div>
    </div>
  </div>

</div>
