<div class="myvolumio-card-container">

  <div class="myvolumio-card-logged" ng-if="myVolumioUserCardController.user != null">

    <div class="row">
      <div class="col-xs-8">
        <my-volumio-avatar-image>
        </my-volumio-avatar-image>
      </div>
      <div class="col-xs-16" style="padding-left: 0px;">
        <button type="button" class="btn btn-primary btn-sm" ng-click="myVolumioUserCardController.goToProfile()">
          <span class="fa fa-bars"></span>
        </button>
        <div class="user-name">
            <span ng-if="myVolumioUserCardController.isUserFilledWithMandatory()">
              {{myVolumioUserCardController.user.firstName}}
            </span>
          <span ng-if="!myVolumioUserCardController.isUserFilledWithMandatory()" translate="MYVOLUMIO.LOGGED_BY_SOCIAL"></span>
        </div>
        <!--
        <div class="user-username">
            <span ng-if="myVolumioUserCardController.isUserFilledWithMandatory()">
              {{myVolumioUserCardController.user.username}}
            </span>
        </div>
        -->
        <div style="clear: both;"></div>
      </div>
    </div>

  </div>

  <div class="myvolumio-card-not-logged" ng-if="myVolumioUserCardController.user == null">
    <div class="row">
      <div class="col-xs-24" style="padding-bottom: 16px;">

          <div class="panel">
            <div class="panel-heading">
              <p translate="MYVOLUMIO.MY_VOLUMIO"></p>
            </div>
            <div class="panel-body">
              <div class="profile-userbuttons">
                <button type="button" class="btn btn-block btn-success" ng-click="myVolumioUserCardController.logIn()">
                  <span class="glyphicon glyphicon-log-in"></span>
                  <span translate="MYVOLUMIO.LOGIN"></span>
                </button>
                <button type="button" class="btn btn-block btn-info" ng-click="myVolumioUserCardController.signUp()">
                  <span class="glyphicon glyphicon-user"></span>
                  <span translate="MYVOLUMIO.SIGNUP"></span>
                </button>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

</div>
