<wait-backend-scrim></wait-backend-scrim>
<div id="wizardScrim"></div>
<div class="container-fluid">
    <header id="header" ui-view="header"></header>

    <div id="contentWrapper" ng-class="state.current.url"
        hm-swipeleft="layout.swipeLeft()"
        hm-swiperight="layout.swipeRight()"
        hm-recognizer-options='[{"directions":"DIRECTION_LEFT|DIRECTION_RIGHT", "threshold": 50}]'>
      <div id="content" ng-class="state.current.url" ui-view="content"></div>
    </div>

    <footer id="footer" ui-view="footer"></footer>
</div>
