<div class="modal-header">
  <h3 class="modal-title"><i class="fa fa-microphone"></i> Karaoke</h3>
</div>
<div class="modal-body">
  <h4>Karaoke function will work only with Karaoke Hardware.</h4>
  <div class="row karaoke">
    <div class="col-sm-8">
      <h4>KARAOKE MODE</h4>
      <input
          bs-switch
          ng-model="modal.karaokeEnabled"
          ng-change="modal.karaokeSwitch()"
          type="checkbox"
          switch-size="medium"
          switch-animate="false"
          switch-on-text="On"
          switch-off-text="Off"
          ng-true-value="true"
          ng-false-value="false">
    </div>
    <div class="col-sm-8">
      <h4>MUSIC VOLUME</h4>
      <button
          class="btn btn-info"
          ng-click="modal.musicVolumeMinus()">-
      </button>
      <button
          class="btn btn-info"
          ng-click="modal.musicVolumePlus()">+
      </button>
    </div>
    <div class="col-sm-8">
      <h4>MIC VOLUME</h4>
      <button
          class="btn btn-info"
          ng-click="modal.micVolumeMinus()">-
      </button>
      <button
          class="btn btn-info"
          ng-click="modal.micVolumePlus()">+
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
      class="btn btn-info"
      ng-click="modal.exit()">
    Exit
  </button>
</div>
