<div class="modal-header">
  <h3 class="modal-title"><i class="fa fa-clock-o"></i> {{::modal.dataObj.name}}</h3>
</div>
<div class="modal-body">
  <div ng-repeat="alarm in modal.alarms track by $index" class="row">
    <div class="col-xs-12 col-sm-6">
      <uib-timepicker
          ng-model="alarm.time"
          hour-step="1"
          minute-step="1"
          show-meridian="modal.showMeridian">
      </uib-timepicker>
    </div>
    <div class="col-xs-12 col-sm-6 pull-down">
      <input
          bs-switch
          ng-model="alarm.enabled"
          type="checkbox"
          switch-size="medium"
          switch-animate="false"
          switch-on-text="On"
          switch-off-text="Off"
          ng-true-value="true"
          ng-false-value="false">
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-sm-6 pull-down">
      <ui-select
          id="{{alarm.id}}"
          ng-model="alarm.playlist"
          search-enabled="false"
          append-to-body="false"
          theme="bootstrap">
        <ui-select-match
            class="ui-select-match"
            placeholder="Choose playlist">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices
            class="ui-select-choices"
            repeat="playlist in modal.playlistService.playlists track by $index">
          <div ng-bind-html="playlist"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-xs-12 col-sm-6 pull-down">
      <button
          class="btn btn-danger"
          ng-click="modal.deleteAlarm(alarm)">
        Delete
      </button>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
      class="btn btn-warning"
      ng-click="modal.cancel()">
    Cancel
  </button>
  <button
      class="btn btn-info"
      ng-click="modal.add()">
    Add
  </button>
  <button
      class="btn btn-info"
      ng-click="modal.save()">
    Save
  </button>
</div>
