#playbackPanelWrapper {

  margin-top: 10px;
  margin: auto;
  @include breakpoint(xs) {
    margin: 0px;
  }

  #leftPanel, #rightPanel {
    text-align: center;
    @include make-sm-column(8);

    @include breakpoint(md) {
      height: calc(100vh - 100px);
    }
  }

  #centerPanel {
    @include make-sm-column(8);
  }

  &.mobile {

    margin-top: 15px;

    min-height: calc(100% - 15px);
    height: auto;

    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background: $theme-dark-transparent-background;

    .cover-art-container {

      text-align: center;
      margin-top: 40px;
      scrollbar-width: none;

      img {
        width: 100%;
        margin: 10px auto;
        max-width: 400px;
        max-height: 400px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        -webkit-box-shadow: 0px 0px 10px 10px rgba(75,164,118,0.6);
        -moz-box-shadow: 0px 0px 10px 10px rgba(75,164,118,0.6);
        box-shadow: 0px 0px 10px 10px rgba(75,164,118,0.6);
      }
    }

    .track-info-container{
      margin-top: 16px;
    }

    .track-button-container{
      margin-top: 16px;
      text-align: center;

      #trackButtonBar{
        display: inline-block;
        background: transparent !important;
      }
    }

    .player-buttons-container{
      margin-top: 24px;

      #playerButtons .playPause{
        left: 0 !important;
        top: -50px;
      }
    }
  }

}
