#playbackPanelWrapper {

  margin-top: 10px;
  margin: auto;

  @include breakpoint(xs) {
    margin: 0px;
  }

  #leftPanel, #rightPanel {
    text-align: center;
    height: calc(100vh - 100px);
    @include make-sm-column(8);

    @include breakpoint(xs) {
      height: auto;
    }
    @include breakpoint(sm) {
      height: auto;
    }
  }

  #centerPanel {
    @include make-sm-column(8);
  }

  &.mobile {
    height: 100%;
    overflow: hidden;

    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background: $theme-dark-transparent-background;

    #albumartContainer {
      position: relative;
      margin: 8px;

      .cover-art-container {

        text-align: center;
        scrollbar-width: none;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;

        img {
          display: block;
          padding: 0;
          margin: auto;
          // height: 100%;
          max-height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .track-info-container{
      margin-top: 16px;
    }

    .track-button-container{
      text-align: center;
      #trackButtonBar{
        display: inline-block;
        background: transparent !important;
      }

      button i{
        font-size: 20px;

        @media all and (max-height: 600px){
          font-size: 16px;
        }
      }

    }

    .player-buttons-container{
      margin-top: 12px;

      #playerButtons {
        height: 70px;

        position: relative;
        right: -3px;

        .playPause {
          left: 0 !important;
          top: -50px;
        }
      }
    }
  }

}

i#closePlaybackPanelWrapper {
    font-size: 48px;
}

div#goBackPanelWrapper {
    top: -10px;
    max-height: 30px;
    z-index: 4;
}
