@import "./theme-variants/theme-variant";

$headerHeight: 50px;
$footerHeight: 50px;

$fonts-path: "/app/themes/volumio/assets/fonts";

@font-face {
  font-family: 'Lato';
  src: url('#{$fonts-path}/Lato-Regular.eot');
  src: url('#{$fonts-path}/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-path}/Lato-Regular.woff') format('woff'),
       url('#{$fonts-path}/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$fonts-path}/Lato-Light.eot');
  src: url('#{$fonts-path}/Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-path}/Lato-Light.woff') format('woff'),
       url('#{$fonts-path}/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('#{$fonts-path}/Lato-Bold.eot');
  src: url('#{$fonts-path}/Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-path}/Lato-Bold.woff') format('woff'),
       url('#{$fonts-path}/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

$font-family-sans-serif: "Lato";

$text-color: $volumio-text-color;

$link-color: #FFF;
$link-hover-color: $volumio-green-color;
$link-hover-decoration: none;


//Grid
$grid-columns: 24;
$grid-gutter-width: 30px;

//Buttons
$btn-default-color: #FFF;
$btn-default-bg: $volumio-light-color;

$btn-info-color: #FFF;
$btn-info-bg: $volumio-green-color;
$btn-info-border: $volumio-green-color;

//used for cancel buttons
$btn-warning-color: $volumio-green-color;
$btn-warning-bg: $volumio-grey-trans-dark;
$btn-warning-border: $volumio-green-color;

//used for delete buttons
$btn-danger-color: #FFF;
$btn-danger-bg: $volumio-red-color;
$btn-danger-border: $volumio-red-color;

//Table
$table-bg-hover: $volumio-accent-color;
$table-bg: transparent;
$table-border-color: $volumio-table-border-color;

//Panels
$panel-bg: transparent;
$panel-default-heading-bg: $volumio-black-trans-dark;
$panel-default-border: $volumio-green-color;
$panel-border-radius: 0;

//Inputs
$input-bg: $volumio-accent-color;
$input-color: $volumio-green-color;
$input-border: $volumio-green-color;
$input-border-focus: $volumio-green-color;

//Modals
$modal-content-bg: #000;
$modal-content-border-color: $volumio-black-trans-dark;
$modal-header-border-color: $volumio-green-color;
$modal-footer-border-color: $volumio-green-color;
// $modal-inner-padding: 10px;
// $modal-title-padding: 10px;

//List group
$list-group-bg: $volumio-dark-color;
$list-group-border: $volumio-green-color;
//$list-group-border-radius: 0;

//Progress
$progress-bg: $volumio-dark-color;
$progress-bar-bg: $volumio-green-color;

//Tabs
$nav-link-hover-bg: $volumio-black-trans-dark;
$nav-tabs-border-color: $volumio-green-color;
$nav-tabs-link-hover-border-color: $volumio-green-color;

$nav-tabs-active-link-hover-bg: $volumio-green-color;
$nav-tabs-active-link-hover-color: $volumio-text-color;
$nav-tabs-active-link-hover-border-color:  $volumio-green-color;

//Input group
$input-group-addon-bg: $volumio-dark-color;
$input-group-addon-border-color: $volumio-green-color;

//Alerts
$alert-info-bg: $volumio-dark-color;
$alert-info-text: $volumio-text-color;
$alert-info-border: $volumio-green-color;

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";

// Utility classes
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

body {
  height: 100vh;
  width: 100%;
  background: #333;
}

#contentWrapper {
  @include make-row();
  width: 100%;
  position: fixed;
  z-index: 1;
  top: $headerHeight;
  bottom: $footerHeight;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  #content {
    @include make-sm-column(24);
    // border: solid 15px black;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // margin: auto;
    // overflow: auto;
    &.browse, &.queue {
      padding: 0px;
    }
  }
}

#footer {
  > button {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.btn {
  outline: none !important;
  border-radius: 0;
  font-size: 16px;
  &.selected {
    background-color: $volumio-green-color !important;
  }
  &:focus {
    color: $link-color;
    &.btn-info {
      // color: $volumio-green-color;
      border-color: $volumio-green-color;
      background-color: $btn-info-bg;
    }
  }
  &.btn-default {
    // &:focus {
    //   background-color: $volumio-light-color;
    //   border-color: $btn-default-border;
    // }
    &:hover{
      background-color: $volumio-green-color;
    }
    &.active {
      background-color: transparent;
    }
    @include breakpoint(xs) {
      &:hover{
        background-color: transparent;
      }
    }
  }
}
.btn-link {
  border-radius: $btn-border-radius-base;
  &.active {
    color: $volumio-green-color;
  }
}

//Common components

//Buttons
.cancelBtn {
  background-color: darken($volumio-accent-color, 5%);
  color: $volumio-light-color;
  border-color: $volumio-light-color;
}

//Table
table {
  &.table-hover {
    tr {
      &:hover {
        background-color: rgba(30, 30, 30, 0.8);
      }
    }
  }
  font-size: 18px;
  margin: 0;
  &.noFirstRowBorder {
    tr:first-of-type td {
      border-top: none;
    }
  }
  tr {
    &.nohover{
      &:hover {
        background-color: transparent;
      }
    }
  }
  th {
    color: $text-grey-color;
    border: none !important;
  }
  td {
    vertical-align: middle !important;
    padding: 5px 10px;
    &.image {
      padding-left: 6px;
      font-size:30px;
      text-align: center;
      width: 45px;
      img {
        @include square(45px);
      }
    }
    &.icon-cover {
      font-size: 26px;
      color: $volumio-accent-color;
    }
    &.commandButtons {
      width: 50px;
      text-align: right;
      padding-right:6px;
    }
  }
  .hamburgerMenu{
    position: relative;
    .buttonsGroup{
      position: absolute;
      top: 34px;
      right: 0;
      left: auto;
      z-index: 3;
      &.last {
        top: auto;
        bottom: 38px;
      }
    }
  }
}

//panels
.panel {
  border: none;
  margin-top: 20px;
  .panel-body {
    background-color: $volumio-grey-trans-dark;
  }
  .panel-heading {
    border-bottom: solid 1px $volumio-green-color;
    .panel-title {
      color: #FFF;
      font-size: 18px;
      text-transform: capitalize;
    }
  }
}

//modals
.modal-content {
  background: #535d67 url('/app/themes/volumio/assets/graphics/volumio-bg.png') repeat left top;
  .modal-header, .modal-footer {
    background-color: $volumio-black-trans-dark;
  }
  .modal-body {
    background-color: $volumio-grey-trans-dark;
  }
}

//progress
.progress {
  height: 18px;
}
.progress-bar.active, .progress.active .progress-bar, .progress-bar.active{
  animation-direction: reverse !important;
}

//Select override
.ui-select-toggle, .ui-select-container, .ui-select-match {
  background-color: $volumio-accent-color;
  border-color: $volumio-green-color;
  color: $volumio-green-color;
  border-radius: 0;
}
.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: $volumio-light-color;
  color: $volumio-text-color;
}
.ui-select-bootstrap .ui-select-choices-row > a {
  color: $volumio-green-color;
}
.ui-select-bootstrap .btn.btn-default:hover {
  background-color: $volumio-accent-color;
}

//Switch override
.bootstrap-switch {
  border-color: $volumio-green-color;
  border-radius: 0;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
  .bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
  background-color: $volumio-accent-color;
  border-radius: 0;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: $volumio-green-color;
  color: #FFF;
  border-radius: 0;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-radius: 0;
}
.bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background-color: $volumio-black-trans-dark;
  color: $volumio-green-color;
}
.bootstrap-switch-label {
  background-color: red;
  color: $volumio-green-color;
}

//Form override
.form-control {
  border-radius: 0;
  &:focus {
    box-shadow: 0 0 5px 1px $volumio-green-color;
  }
}

//List override
li.list-group-item {
  border-radius: 0;
}


//Knob
.knobWrapper {
  position: relative;
  width: 210px;
  height: 210px;
  margin: 0px auto 15px auto;
}

.knob {
  position: relative;
  z-index: 10;
}

.knobInfosWrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0px;
  top: 0px;
  width: 170px;
  height: 170px;
  background-color: #222;
  border-radius: 150px;
  pointer-events: none;
  z-index: 10;
  div {

  }
  .headerText {
    height: 20px;
    margin-top: 24px;
    font-size: 11px;
    &.green {
      color: $volumio-green-color;
    }
  }
  .bigText {
    margin-top: 8px;
    height: 45px;
    color: $volumio-green-color;
    font-size: 50px;
    line-height: 45px;
    font-weight: 300;
    .webRadioLabel {
      padding-top: 5px;
      font-size: 30px;
    }
  }
  .smallText {
    margin-top: 8px;
    font-size: 16px;
    height: 22px;
  }
  .footerText {
    height: 19px;
    margin-top: 5px;
    font-size: 14px;
    & img {
      width: 32px;
    }
  }
}

.fakePulsingKnob {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0px;
  top: 0px;
  width: 210px;
  height: 210px;
  background-color: $volumio-green-color;
  border-radius: 150px;
  pointer-events: none;
  z-index: 9;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
    0%   {opacity: 0.3}
    50% {opacity: 1}
    100% {opacity: 0.3}
}

//Slider
.slider.slider-vertical .slider-track {
  width: 15px;
  border-radius: 16px;
  margin-left: -10px;

}

.volumeSlider.disabled {
  .slider-track{
    background-image: linear-gradient(to top, #666 0%, #666 100%);
  }
}


//Slder
.slider-track {
  border: solid 1px #555;
  height: 30px;
  background-image: linear-gradient(to top, $volumio-green-color 0%, $volumio-green-color 100%);
}
.slider-selection {
  background-image: linear-gradient(to bottom, #CCC  0%, #CCC  100%)
}
.slider-handle {
  background-image: linear-gradient(to bottom, $volumio-green-color 0%, darken($volumio-green-color, 20%) 100%);
  border: solid 1px darken($volumio-green-color, 15%);
  // margin-left: -5px !important;
  width: 22px;
  height: 22px;
}

.slider-tick, .slider-tick.in-selection {
  background-image: linear-gradient(to bottom, #CCC  0%, #CCC  100%)
}

div.equalizer.horizontal{
  .slider-selection {
    background-image: linear-gradient(to bottom, $volumio-green-color  0%, $volumio-green-color  100%)
  }
  .slider-track {
    background-image: linear-gradient(to top, #CCC 0%, #CCC 100%);
  }
}

//Button groups
.btn-group {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px;
  button {
    font-size: 26px;
    padding: 8px 18px 5px 18px
  }
}

//Dropdown menu
ul {
  &.dropdown-menu {
    width: 200px;
    background-color: $volumio-accent-color;
    border: solid 1px $volumio-green-color;
    i {
      width: 24px;
      text-align: center;
      padding-right: 4px;
    }
    a {
      display: block;
      color: $volumio-text-color;
      padding: 6px 0px 6px 6px;
      font-size: 16px;
      &:hover {
        color: $volumio-green-color;
      }
    }
  }
}

//Upload droppable area
.uploadDroppableArea {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 40px 0px;
  border: dotted 1px grey;
  &.dragover {
    border: dotted 1px #54C698;
  }
}

//Toast
.toast-success {
  background-color: rgba(84, 198, 152, 0.8);
}

//Scrollbars
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: darken($volumio-dark-color, 6%);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $text-grey-color;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

//Checks and Crosses
.true {
  color: $volumio-green-color;
}

.false {
  color: $volumio-red-color;
}

//Credits
.credits {
  img {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  span{
    font-size: 16px;
    font-weight: 700;
  }
  p {
    color: $volumio-green-color;
  }
}

//Alerts
.alert {
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

//Input group
.input-group-addon {
  &.clickable {
    cursor: pointer;
  }
}

//installed Plugin List
div#installed-plugin-lists {
  padding-bottom: 15px;
  padding-top: 25px;
  font-size: 16px;
  border-bottom: 1px solid #54C698;
  }

div#list-group {
      margin: 10px 10px 10px 10px;
}

//Checkboxes
span {
  &.checkbox-wrapper {
    position: relative;
  }
}

.custom-checkbox {
	display: none;
  & + label {
    cursor: pointer;
  	background-color: $volumio-dark-color;
  	border: 1px solid $volumio-green-color;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  	padding: 9px;
  	display: inline-block;
  	position: absolute;;
    left: -28px;
    top: 1px;
  }

  &:checked + label {
  	background-color: $volumio-green-color;
  	border: 1px solid $volumio-dark-color;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  	color: $volumio-green-color;
  }

  &:checked + label:after {
  	content: '\2714';
  	font-size: 14px;
  	position: absolute;
  	top: 0px;
  	left: 3px;
  	color: $volumio-dark-color;
  }
}
