$headerHeight: 50px;
$footerHeight: 50px;
$fonts-path: "/app/themes/volumio/assets/fonts";

@font-face {
    font-family: 'LatoWeb';
    src: url('#{$fonts-path}/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('#{$fonts-path}/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$fonts-path}/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('#{$fonts-path}/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('#{$fonts-path}/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

$font-family-sans-serif: "LatoWeb";

$volumio-green-color: #54C698;
$volumio-light-color: #7a848e;
$volumio-dark-color: #3C3C3C;
$volumio-accent-color: #393939;
$volumio-text-color: #DDD;
$volumio-dark-text-color: #AAA;
$volumio-background-color: #555;

$body-bg: $volumio-background-color;
$brand-primary: #222;
$text-color: $volumio-text-color;
$electric-blue: #069FD7;

$link-color: #FFF;
$link-hover-color: $volumio-green-color;
$link-hover-decoration: none;


//Grid
$grid-columns: 24;
$grid-gutter-width: 30px;

//Buttons
$btn-default-color: #FFF;
$btn-default-bg: $volumio-light-color;

$btn-info-color: $volumio-green-color;
$btn-info-bg: $volumio-accent-color;
$btn-info-border: $volumio-green-color;

//used for cancel buttons
$btn-warning-color: $volumio-light-color;
$btn-warning-bg: $volumio-accent-color;
$btn-warning-border: $volumio-light-color;

//used for delete buttons
$btn-danger-color: darken(red, 15%);
$btn-danger-bg: $volumio-accent-color;
$btn-danger-border: darken(red, 15%);

//Table
$table-bg-hover: $volumio-light-color;
$table-bg: $volumio-dark-color;
$table-border-color: #7C7C7C;

//Panels
$panel-default-text: #FFF;
$panel-bg: $volumio-light-color;
$panel-default-heading-bg: $volumio-accent-color;
$panel-default-border: $volumio-green-color;
$panel-border-radius: 0;

//Inputs
$input-bg: $volumio-accent-color;
$input-color: $volumio-green-color;
$input-border: $volumio-green-color;
$input-border-focus: $volumio-green-color;

//Modals
$modal-content-bg: $volumio-light-color;
$modal-content-border-color: $volumio-dark-color;
$modal-header-border-color: $volumio-green-color;
$modal-footer-border-color: $volumio-green-color;
// $modal-inner-padding: 10px;
// $modal-title-padding: 10px;

//List group
$list-group-bg: $volumio-dark-color;
$list-group-border: $volumio-green-color;
//$list-group-border-radius: 0;

//Progress
$progress-bg: $volumio-dark-color;
$progress-bar-bg: $volumio-green-color;

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
// @import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";

// Utility classes
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

#contentWrapper {
  @include make-row();
  width: 100%;
  position: fixed;
  z-index: 1;
  top: $headerHeight;
  bottom: $footerHeight;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  #content {
    @include make-sm-column(24);
    // border: solid 15px black;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // margin: auto;
    // overflow: auto;
    &.browse, &.queue {
      padding: 0px;
    }
  }
}

#footer {
  > button {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.btn {
  outline: none !important;
  &.selected {
    background-color: $volumio-green-color !important;
  }
  &:focus {
    color: $link-color;
    &.btn-info {
      color: $volumio-green-color;
      border-color: $volumio-green-color;
      background-color: $btn-info-bg;
    }
  }
  &.btn-default {
    &:focus {
      background-color: $volumio-light-color;
      border-color: $btn-default-border;
    }
    &:hover, &.active {
      background-color: $volumio-green-color;
    }
  }
}
.btn-link {
  border-radius: $btn-border-radius-base;
  &.active {
    color: $volumio-green-color;
  }
}

//Common components

//Buttons
.cancelBtn {
  background-color: darken($volumio-accent-color, 5%);
  color: $volumio-light-color;
  border-color: $volumio-light-color;
}

//Table
table {
  font-size: 18px;
  margin: 0;
  tr {
    background-color: #666;
    // border-top: solid 6px;
    // border-bottom: solid 6px;
    // border-left: solid 10px;
    // border-right: solid 10px;
    &.nohover{
      &:hover {
        background-color: transparent;
      }
    }
  }
  th {
    color: $volumio-accent-color;
    border: none !important;
  }
  td {
    vertical-align: middle !important;
    padding: 5px 10px;
    &.image {
      padding-left: 6px;
      font-size:30px;
      text-align: center;
      width: 45px;
      img {
        @include square(45px);
      }
    }
    &.icon-cover {
      font-size: 26px;
      color: $volumio-accent-color;
    }
    &.commandButtons {
      width: 50px;
      text-align: right;
      padding-right:6px;
    }
  }
  .hamburgerMenu{
    position: relative;
    .buttonsGroup{
      position: absolute;
      top: 34px;
      right: 0;
      left: auto;
      z-index: 3;
      &.last {
        top: auto;
        bottom: 38px;
      }
    }
  }
}

//panels
.panel {
  border: none;
  margin-top: 20px;
  .panel-heading {
    border-bottom: solid 1px $volumio-green-color;
    .panel-title {
      color: #FFF;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

//progress
.progress {
  height: 18px;
}
.progress-bar.active, .progress.active .progress-bar, .progress-bar.active{
  animation-direction: reverse !important;
}

//Select override
.ui-select-toggle, .ui-select-container, .ui-select-match {
  background-color: $volumio-accent-color;
  border-color: $volumio-green-color;
  color: $volumio-green-color;
  border-radius: 3px;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
  background-color: $volumio-light-color;
}
.ui-select-bootstrap .btn.btn-default:hover {
  background-color: $volumio-accent-color;
}

//Switch override
.bootstrap-switch {
  border-color: $volumio-green-color;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
  .bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
  background-color: lighten($volumio-light-color, 10%);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: $volumio-accent-color;
  color: $volumio-green-color;
}
.bootstrap-switch-label {
  background-color: red;
  color: $volumio-green-color;
}

//Knob
.knobWrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0px auto 15px auto;
}

.knob {
  position: relative;
  z-index: 10;
}
.knobOpacity {
  opacity: 0.6;
}

.knobInfosWrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  background-color: #222;
  border-radius: 150px;
  pointer-events: none;
  z-index: 10;
  .headerText {
    padding-top: 25px;
    height: 35px;
    font-size: 11px;
    &.green {
      color: $volumio-green-color;
    }
  }
  .bigText {
    height: 48px;
    color: $volumio-green-color;
    font-size: 40px;
    font-weight: normal;
  }
  .smallText {
    height: 20px;
    font-size: 16px;
  }
  .footerText {
    padding-top: 5px;
    font-size: 14px;
  }
}

//Slider
.slider.slider-vertical .slider-track {
  width: 15px;
  border-radius: 16px;
  margin-left: -10px;
}
.slider-track {
  border: solid 1px #555;
  height: 30px;
  background-image: linear-gradient(to top, $volumio-green-color 0%, $volumio-green-color 100%);
}
.slider-selection {
  background-image: linear-gradient(to bottom, #CCC  0%, #CCC  100%)
}
.slider-handle {
  background-image: linear-gradient(to bottom, #FFF 0%, #EEE 100%);
  border: solid 1px #CCC;
  margin-left: -5px !important;
  width: 22px;
  height: 22px;
}

//Button groups
.btn-group {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 10px;
  button {
    font-size: 26px;
    padding: 8px 20px
  }
}

//Dropdown menu
ul {
  &.dropdown-menu {
    width: 180px;
    background-color: $volumio-accent-color;
    border: solid 1px $volumio-green-color;
    i {
      width: 24px;
      text-align: center;
      padding-right: 4px;
    }
    a {
      display: block;
      color: #FFF;
      padding: 4px 0px 4px 6px;
      &:hover {
        color: $volumio-green-color;
      }
    }
  }
}

//Scrollbars
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: darken($volumio-dark-color, 6%);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: darken($volumio-accent-color, 0%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
