$headerHeight: 50px;
$footerHeight: 33px;

$volumio-green-color: #4bbe87;
$volumio-light-color: #7a848e;
$volumio-dark-color: #535d67;
$volumio-accent-color: #283a4e;
$volumio-background-color: $volumio-dark-color;

$body-bg: $volumio-background-color;
$brand-primary: #222;
$text-color: #DDD;
$electric-blue: #069FD7;

$link-color: #FFF;
$link-hover-color: $volumio-green-color;
$link-hover-decoration: none;


//Grid
$grid-columns: 24;
$grid-gutter-width:30px;

//Buttons
$btn-default-color: #FFF;
$btn-default-bg: $volumio-light-color;

$btn-info-color: $volumio-green-color;
$btn-info-bg: $volumio-accent-color;
$btn-info-border: $volumio-green-color;

//used for cancel buttons
$btn-warning-color: $volumio-light-color;
$btn-warning-bg: $volumio-accent-color;
$btn-warning-border: $volumio-light-color;

//used for delete buttons
$btn-danger-color: darken(red, 15%);
$btn-danger-bg: $volumio-accent-color;
$btn-danger-border: darken(red, 15%);

//Table
$table-bg-hover: $volumio-light-color;

//Panels
$panel-default-text: #FFF;
$panel-bg: $volumio-light-color;
$panel-default-heading-bg: $volumio-accent-color;
$panel-default-border: $volumio-green-color;
// $panel-border-radius: 0;

//Inputs
$input-bg: $volumio-accent-color;
$input-color: $volumio-green-color;
$input-border: $volumio-green-color;
$input-border-focus: $volumio-green-color;

//Modals
$modal-content-bg: $volumio-light-color;
$modal-content-border-color: $volumio-dark-color;
$modal-header-border-color: $volumio-green-color;
$modal-footer-border-color: $volumio-green-color;
// $modal-inner-padding: 10px;
// $modal-title-padding: 10px;

//List group
$list-group-bg: $volumio-dark-color;
$list-group-border: $volumio-green-color;
//$list-group-border-radius: 0;

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";

// Utility classes
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

.btn {
  outline: none !important;
  &.selected {
    background-color: $volumio-green-color !important;
  }
  &:focus {
    color: $link-color;
    &.btn-info {
      color: $volumio-green-color;
      border-color: $volumio-green-color;
      background-color: $btn-info-bg;
    }
  }
  &.btn-default {
    &:focus {
      background-color: $volumio-light-color;
      border-color: $btn-default-border;
    }
    &:hover {
      background-color: $volumio-green-color;
    }
  }
}
.btn-link {
  border-radius: $btn-border-radius-base;
  &.active {
    background-color: $volumio-green-color;
    color: #FFF;
  }
}

#contentWrapper {
  @include make-row();
  width: 100%;
  position: fixed;
  z-index: 1;
  top: $headerHeight;
  bottom: $footerHeight;
  overflow-y: scroll;
  #content {
    @include make-sm-column(24);

  }
}

//Common components

//Buttons
.cancelBtn {
  background-color: darken($volumio-accent-color, 5%);
  color: $volumio-light-color;
  border-color: $volumio-light-color;
}

//Table
table {
  font-size: 18px;
  margin: 0;
  tr {
    th {
      color: $volumio-accent-color;
      border: none !important;
    }
    &.nohover{
      &:hover {
        background-color: transparent;
      }
    }
  }
  td {
    // vertical-align: middle;
    &.image {
      font-size:30px;
      text-align: center;
      width: 90px;
      img {
        margin-left: 10px;
        margin-right: 10px;
        @include square(70px);
      }
    }
    &.icon-cover {
      font-size: 26px;
      color: $volumio-accent-color;
    }
    &.commandButtons {
      width: 50px;
      text-align: right;
      padding-right:6px;
    }
  }
}

//panels
.panel {
  border: none;
  margin-top: 20px;
  .panel-heading {
    border-bottom: solid 1px $volumio-green-color;
    .panel-title {
      color: #FFF;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

//Select override
.ui-select-toggle, .ui-select-container, .ui-select-match {
  background-color: $volumio-accent-color;
  border-color: $volumio-green-color;
  color: $volumio-green-color;
  border-radius: 3px;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
  background-color: $volumio-light-color;
}
.ui-select-bootstrap .btn.btn-default:hover {
  background-color: $volumio-accent-color;
}

//Switch override
.bootstrap-switch {
  border-color: $volumio-green-color;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
  .bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
  background-color: lighten($volumio-light-color, 10%);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: $volumio-accent-color;
  color: $volumio-green-color;
}
.bootstrap-switch-label {
  background-color: red;
  color: $volumio-green-color;
}
