<div>
  <h4 translate="MYVOLUMIO.ALREADY_LOGGED_IN" style="margin-bottom: 16px;"></h4>
  <a ng-click="myVolumioAlreadyLoggedController.goToProfile()" class="btn btn-lg btn-success">
    <span class="glyphicon glyphicon-user"></span>
    <span translate="MYVOLUMIO.PROFILE"></span>
  </a>
  <a ng-click="myVolumioAlreadyLoggedController.logOut()" class="btn btn-lg btn-default pull-right">
    <span class="glyphicon glyphicon-log-out"></span>
    <span translate="MYVOLUMIO.LOGOUT"></span>
  </a>
</div>