<div id="trackManager">
  <div class="knobWrapper">
    <div class="knobInfosWrapper">
      <div class="headerText">
        <div id="trackInfo-techInfos" ng-if="trackManager.playerService.state.samplerate ||
            trackManager.playerService.state.bitdepth">
          <span ng-if="trackManager.playerService.state.samplerate">
            {{trackManager.playerService.state.samplerate}} Khz
          </span>
          <span ng-if="trackManager.playerService.state.bitdepth">
            | {{trackManager.playerService.state.bitdepth}} bit
          </span>
        </div>
      </div>
      <div class="bigText">{{trackManager.playerService.elapsedTimeString}}</div>
      <div class="smallText">{{trackManager.playerService.songLength}}</div>
      <div class="footerText">{{trackManager.playerService.state.service}}</div>
    </div>
    <knob
      value="trackManager.playerService.seekPercent"
      on-change="trackManager.onChange(value)"
      options="trackManager.knobOptions">
    </knob>
  </div>
  <div id="trackButtonBar" class="btn-group">
    <button
        ng-class="{'active': trackManager.playerService.state.favourite}"
        ng-click="trackManager.toggleFavouriteTrack()"
        class="btn btn-default">
      <i class="fa fa-heart"></i>
    </button>
    <button
        ng-class="{'active': trackManager.playerService.state.random}"
        ng-click="trackManager.playerService.shuffle()"
        class="btn btn-default">
      <i class="fa fa-random"></i>
    </button>
    <button
        ng-class="{'active': trackManager.playerService.state.repeat}"
        ng-click="trackManager.playerService.repeatAlbum()"
        class="btn btn-default">
      <i class="fa fa-repeat"></i>
    </button>
  </div>
</div>
