#waitBackendScrim {
  color: #FFF;
  font-size: 22px;
  position: relative;
  &.hideScrim {
    display: none;
  }
  #overlay {
    background-color: rgba(100, 100, 100, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
  #waitBackendSrimMessage {
    display: inline-block;
    width: 180px;
    height: 100px;
    text-align: center;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    >i {
      font-size: 28px;
      color: red;
    }
  }
}
