#waitBackendScrim {
  color: #FFF;
  font-size: 90px;
  position: relative;
  &.hideScrim {
    display: none;
  }
  #overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
  #waitBackendSpinner {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
