<div id="modalWebRadio">
  <div class="modal-header">
    <h3 class="modal-title" translate="BROWSER.ADD_WEBRADIO_TITLE"></h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="web-radio-name" class="control-label">
          {{'COMMON.NAME' | translate}}
        </label>
        <div class="control-item">
          <input type="text"
              id="web-radio-name"
              class="form-control"
              ng-model="modal.dataObj.item.title"
              placeholder="{{'COMMON.NAME' | translate}}">
        </div>
      </div>
      <div class="form-group">
        <label for="web-radio-url" class="control-label">
          {{'COMMON.URL' | translate}}
        </label>
        <div class="control-item">
          <input type="text"
              id="web-radio-url"
              class="form-control"
              ng-model="modal.dataObj.item.uri"
              placeholder="{{'COMMON.URL' | translate}}">
          <div translate="BROWSER.URL_DOC"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="modal.cancel()">
      {{'COMMON.CANCEL' | translate}}
    </button>
    <button class="btn btn-info" ng-click="modal.addWebradio()">
      <span ng-if="modal.addOrEdit === 'edit'" translate="COMMON.SAVE"></span>
      <span ng-if="modal.addOrEdit === 'add'" translate="COMMON.ADD"></span>
    </button>
  </div>
</div>
