<div id="playQueueWrapper">
  <div class="row">
    <div class="box">
      <div class="boxHeader">
        <div class="title">
          <h2>PLAY QUEUE</h2>
        </div>
      </div>

      <div class="boxTable">
        <table class="table table-condensed">
          <tr
            ng-repeat="item in playQueue.playQueueService.queue"
            ng-dblclick="playQueue.playQueueService.play($index)">
            <td class="image">
              <img ng-if="item.albumart" ng-src="{{item.albumart}}" alt="{item.name}}"/>
              <i ng-if="item.icon" class="{{item.icon}}"></i>
            </td>
            <td>
              <div class="title">
                {{item.artist}}
              </div>
              <div class="">
                {{item.name}} - {{item.album}}
              </div>
            </td>
            <td class="commandButtons">
              <button
                  class="btn-link"
                  ng-click="playQueue.playQueueService.remove($index)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
