<div class="trackInfoBarButtons">
  <button
     ng-class="{'active': trackInfoBarButtons.playerService.state.random}"
     ng-click="trackInfoBarButtons.playerService.shuffle()"
     class="btn btn-link"
     title="{{'TRACK_INFO_BAR.RANDOM' | translate}}">
   <i class="fa fa-random"></i>
  </button>
  <button
     ng-class="{'active': trackInfoBarButtons.playerService.state.repeat}"
     ng-click="trackInfoBarButtons.playerService.repeatAlbum()"
     class="btn btn-link"
     title="{{'TRACK_INFO_BAR.REPEAT' | translate}}">
   <i class="fa fa-repeat"></i>
  </button>
  <button
     ng-click="trackInfoBarButtons.addToPlaylist()"
     class="btn btn-link"
     title="{{'TRACK_INFO_BAR.SAVE_QUEUE_AS_PLAYLIST' | translate}}">
   <i class="fa fa-save"></i>
  </button>
  <button
     ng-click="trackInfoBarButtons.playQueueService.clearQueue()"
     class="btn btn-link"
     title="{{'TRACK_INFO_BAR.CLEAR_QUEUE' | translate}}">
   <i class="fa fa-trash"></i>
  </button>
</div>
