<div class="trackInfoBar">
  <div class="leftInfo" >
    <div ng-show="trackInfoBar.playerService.state.status === 'play'">
      <span class="green" translate="TRACK_MANAGER.PLAYING">:</span>
      {{trackInfoBar.playerService.state.title}}

      <span ng-if="trackInfoBar.playerService.state.artist">
        <span class="small" translate="TRACK_MANAGER.BY"></span>
        {{trackInfoBar.playerService.state.artist}}
      </span>

      <span ng-if="trackInfoBar.playerService.state.album">
        <span class="small" translate="TRACK_MANAGER.FROM"></span>
        {{trackInfoBar.playerService.state.album}}
      </span>
    </div>
  </div>
  <track-info-bar-buttons
      class="rightInfo"
      ng-if="trackInfoBar.$state.current.name === 'volumio.play-queue'">
  </track-info-bar-buttons>
</div>
