<div class="trackInfoBar">
  <div class="leftInfo" >
    <div ng-show="trackInfoBar.playerService.state.status === 'play'">
      <span class="green">Playing:</span>
      {{trackInfoBar.playerService.state.title}}

      <span ng-if="trackInfoBar.playerService.state.artist">
        <span class="small">by</span>
        {{trackInfoBar.playerService.state.artist}}
      </span>

      <span ng-if="trackInfoBar.playerService.state.album">
        <span class="small">from</span>
        {{trackInfoBar.playerService.state.album}}
      </span>
    </div>
  </div>
  <div class="rightInfo">
    <button
        ng-class="{'active': trackInfoBar.playerService.state.random}"
        ng-click="trackInfoBar.playerService.shuffle()"
        class="btn btn-link"
        title="Random">
      <i class="fa fa-random"></i>
    </button>
    <button
        ng-class="{'active': trackInfoBar.playerService.state.repeat}"
        ng-click="trackInfoBar.playerService.repeatAlbum()"
        class="btn btn-link"
        title="Repeat">
      <i class="fa fa-repeat"></i>
    </button>
    <button
        ng-click="trackInfoBar.addToPlaylist()"
        class="btn btn-link"
        title="Save queue as playlist">
      <i class="fa fa-save"></i>
    </button>
    <button
        ng-class="{'active': trackInfoBar.playerService.state.consume}"
        ng-click="trackInfoBar.playQueueService.toggleConsume()"
        class="btn btn-link"
        title="Repeat">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>
