<div class="trackInfoBar">
  <div class="leftInfo" >
    <div ng-show="trackInfoBar.playerService.state.status === 'play'">
      <span class="green">Playing:</span>
      {{trackInfoBar.playerService.state.title}}

      <span ng-if="trackInfoBar.playerService.state.artist">
        <span class="small">by</span>
        {{trackInfoBar.playerService.state.artist}}
      </span>

      <span ng-if="trackInfoBar.playerService.state.album">
        <span class="small">from</span>
        {{trackInfoBar.playerService.state.album}}
      </span>
    </div>
  </div>
</div>
