<table class="table table-hover table-condensed">
  <tr>
    <th>Cover</th>
    <th>Track</th>
    <th>Album</th>
    <th>Artist</th>
    <th></th>
  </tr>
  <tr
    ng-repeat="item in playlist.playQueueService.queue"
    ng-dblclick="playlist.playQueueService.play($index)">
    <td>
      <img ng-if="item.albumart" ng-src="{{item.albumart}}" alt="" style="height:80px;"/>
      <i ng-if="item.icon" class="{{item.icon}}"></i>
    </td>
    <td>{{item.name}}</td>
    <td>{{item.album}}</td>
    <td>{{item.artist}}</td>
    <td>
      <button ng-click="playlist.playQueueService.remove($index)">Remove</button>
    </td>
  </tr>
</table>
