<div id="trackInfo">
  <div ng-if="trackInfo.playerService.trackInfo.artist">
    <strong>Artist:</strong> {{trackInfo.playerService.trackInfo.artist}}
  </div>
  <div ng-if="trackInfo.playerService.trackInfo.title">
    <strong>Track:</strong> {{trackInfo.playerService.trackInfo.title}}
  </div>
  <div ng-if="trackInfo.playerService.trackInfo.album">
    <strong>Album:</strong> {{trackInfo.playerService.trackInfo.album}}
  </div>

  <div ng-if="trackInfo.playerService.trackInfo.albumart">
    <img ng-src="{{trackInfo.playerService.trackInfo.albumart}}"
        alt="{{trackInfo.playerService.trackInfo.album}}" />
  </div>

  <div ng-if="trackInfo.playerService.status.service">
    <strong>Service:</strong> {{trackInfo.playerService.status.service}}
  </div>
  <div ng-if="trackInfo.playerService.status.samplerate">
    <strong>Samplerate:</strong> {{trackInfo.playerService.status.samplerate}}
  </div>
  <div ng-if="trackInfo.playerService.status.channels">
    <strong>Channels:</strong> {{trackInfo.playerService.status.channels}}
  </div>
</div>
