<table class="table noFirstRowBorder">
  <tr ng-repeat-start="plugin in pluginManager.installedPlugins track by $index">
    <td>
      {{::plugin.prettyName}}
    </td>
    <td>
      <input
          bs-switch
          ng-model="plugin.enabled"
          type="checkbox"
          switch-size="medium"
          switch-animate="false"
          switch-on-text="On"
          switch-off-text="Off"
          ng-true-value="true"
          ng-false-value="false"
          ng-change="pluginManager.enableDisablePlugin(plugin)">
    </td>
    <td>
      <span
          class="pluginDotStatus"
          ng-class="{'active': plugin.active, 'inactive': !plugin.active}"></span>
      <span ng-if="plugin.active" translate="COMMON.ACTIVE"></span>
      <span ng-if="!plugin.active" translate="COMMON.INACTIVE"></span>
    </td>
    <td>
      <button
          ng-if="plugin.enabled"
          ng-click="pluginManager.showPluginSettings(plugin)"
          type="button"
          class="btn btn-info pull-right"
          title="Settings">
        <i class="fa fa-cog"></i>
      </button>
    </td>
  </tr>
  <tr ng-repeat-end ng-show="plugin.showSettings">
    <td>
      <span translate="COMMON.SHOW_SETTINGS"></span>
    </td>
  </tr>
</table>
