<div id="sideMenu">
  <button
      id="openMenuBtn"
      ng-click="sideMenu.toggleMenu()"
      class="btn btn-link"
      title="Settings">
    <i class="fa fa-cog"></i>
  </button>
  <div id="menuList" role="group" ng-if="sideMenu.visible">
    <button
        id="closeMenuBtn"
        ng-click="sideMenu.toggleMenu()"
        class="btn btn-link">
      <i class="fa fa-times"></i>
    </button>
    <button
        ng-repeat="item in sideMenu.menuItems track by $index"
        ng-click="sideMenu.itemClick(item)"
        class="btn-link btn-block">
          {{::item.name}}
    </button>
    <div id="analogInput" ng-if="::sideMenu.theme === 'axiom'">
      <input type="checkbox"
          ng-model="sideMenu.analogIn"
          ng-click="sideMenu.toggleAnalogInput()"> ANALOG INPUT
    </div>

  </div>
</div>
