volume-manager{

  .volumeManager {
    position: relative;
    margin-top: 110px;

    .volumeSliderWrapper {
      pointer-events: none;

      position: absolute;
      bottom: 30px;
      right: -10px;

      width: 60px;
      background-color: $theme-transparent-buttons-background;
      text-align: center;
      z-index: 2;
      .volumeSlider {
        pointer-events: auto;
        margin: 14px 0px;
        transform: rotate(0deg);
      }
      button {
        pointer-events: auto;
      }
      .bigText {
        color: $theme-primary-color;
        font-size: 28px;
        padding-top: 10px;
      }
      .dbVolumeText {
        margin-top: 8px;
        color: $theme-primary-color;
        font-size: 16px;
        height: 22px;
      }
    }

  }

  /* vertical slider mobile volumio 3 theme */
  .volumeManager.on-footer{
    margin-top: 0;

    #openVolumeVerticalSlider{

      position: relative;
      top: calc( (46px - #{$theme-tabbar-height-smartphone}) / -2  );

      i{
        font-size: 2em;
      }

      @include breakpoint(md){
        i{
          font-size: inherit;
        }
      }
      @include breakpoint(lg){
        i{
          font-size: inherit;
        }
      }

    }
  }

  .volumeSliderScrim {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .volume-slider{

    .volume-text{
      font-size: smaller;
      text-align: center;
    }

    .volumeSlider{
      margin-left: 30px;
      padding-top: 3px;
    }

    .button-mute{
      width: 6px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 0;
    }

    .slider-selection{
      background-image: $theme-slider-bar-full-gradient;
    }

    .slider-track-high{
      background-image: $theme-slider-bar-empty-gradient;
    }

  }


}

/* ---- TAB BAR MOBILE VOLUMIO 3 ADJUSTEMENTS ------ */

.tabBar{

  .volumeManager.on-footer {
      float: none !important;

      #openVolumeVerticalSlider {
        position: initial !important;
        top: 0;
      }

      .volumeSliderWrapper{
        bottom: 50px;
        right: calc(50% - 30px);
      }
  }
}

/* ---- ~ ------ */
