<ul></ul>
<!-- NOTE: keep for reference and debug/develop -->
<!-- <tr
    ng-repeat="item in playQueue.playQueueService.queue track by $index"
    ng-dblclick="playQueue.playQueueService.play($index)"
    hm-doubletap="playQueue.playQueueService.play($index)">
  <td class="image">
    <img
        ng-if="::item.albumart"
        ng-src="{{::playQueue.playQueueService.socketService.host + item.albumart}}"
        alt="{{::item.name}}"/>
    <i ng-if="item.icon" ng-class="::item.icon"></i>
  </td>
  <td>
    <div class="title">
      {{::item.name}}
    </div>
    <div class="artist-album">
      {{::item.artist}} - {{::item.album}}
    </div>
  </td>
  <td class="commandButtons">
    <button
        class="btn-link"
        ng-click="playQueue.playQueueService.remove($index)">
      <i class="fa fa-trash-o"></i>
    </button>
  </td>
</tr> -->
