footer {
  @include make-row();
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  border: solid 0px green;
  background-color: $volumio-black-trans-dark;
}

#phoneFooter {
  button {
    font-size: 22px;
  }
}
