footer {
  @include make-row();
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  .footerContent {
  height: $footerHeight;
  background-color: $theme-footer-color;
  }
}

.tabBar {
  button {
    i {
      font-size: 25px;
      @include breakpoint(xs) {
        font-size: 28px;
      }
    }
  }
}

#phoneFooter {
  button {
    font-size: 22px;
    &:active{
      color: $theme-primary-color;
    }
  }
}

#openVolumeVerticalSlider:focus {
    color: $theme-primary-color;
}
