$sideMenuWidth: 220px;
#sideMenu{
  position: relative;
  #openMenuBtn {
    color: #FFF;
    background-color: #054253;
    &:hover {
      background-color: #054253;
    }
  }

  #menuList {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    width: $sideMenuWidth;
    padding: 20px 10px 0px 10px;
    background: linear-gradient(to bottom, #054253 0%, #054253 50%, rgba(5, 66, 83, 0.6) 100%);
    button {
      text-transform: uppercase;
      text-align: left;
      font-size: 18px;
      color: #FFF;
      padding-top: 10px;

      border-bottom: solid 1px #333;
      &:hover {
        color: #069FD7;
        border-bottom: solid 1px #333;
      }
    }
    &.ng-enter, &.ng-leave {
      transition: all .3s ease-out;
    }
    &.ng-enter {
      opacity: 0;
      right: -$sideMenuWidth;
    }
    &.ng-enter.ng-enter-active {
      opacity: 1;
      right: 0px;
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
      right: -200px;
    }
    #closeMenuBtn {
      position: absolute;
      top: 0px;
      right: 0px;
      width: auto;
      border-bottom: none;
    }
  }
}
