<div id="modalPlaylist">
    <div class="modal-header">
      <h3 class="modal-title">{{::modal.dataObj.title}}</h3>
    </div>
    <div
        ng-bind-html="::modal.dataObj.story"
        class="modal-body darker-bg">
    </div>
    <div
        ng-if="::modal.dataObj.credits"
        class="modal-body darker-bg">
        <table class="table">
          <tr
          ng-repeat="creditRow in modal.dataObj.credits track by $index"
          class="album-credits-row">
            <td class="album-credits-title">
              {{creditRow.key}}
            </td>
            <td class="album-credits-title">
              <p
              ng-if="creditItem.uri.indexOf('mbid:/artist/') > -1"
              ng-click="modal.showCreditLink(creditItem.uri, creditItem.name)"
              ng-repeat="creditItem in creditRow.values track by $index"
              class="album-credits-row credit-clickable">
              {{creditItem.name}}
              </p>
              <p
              ng-if="creditItem.uri.indexOf('mbid:/artist/') === -1"
              ng-repeat="creditItem in creditRow.values track by $index"
              class="album-credits-row">
              {{creditItem.name}}
              </p>

            </td>
          </tr>
        </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="modal.cancel()">
        {{'COMMON.CLOSE' | translate}}
      </button>
    </div>
  </div>
