#multiRoomDockWrapper {
  @include make-sm-column(24);
  margin-top:20px;
  .device {
    @include make-sm-column(8);
    >div {
      height:100px;
      overflow: hidden;
      cursor: pointer;
      text-transform: uppercase;
      border: solid 1px $volumio-accent-color;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .deviceName {
      font-size:20px;
    }
    .artist {
      color: $text-grey-color;
      font-size:16px;
    }
    .track {
      font-size:16px;
    }
    .isSelf {
      border-color: $volumio-green-color;
      background-color: $volumio-black-trans-dark;
    }
    .child {
      cursor: default;
      .deviceName, .track {
        color: darken($text-color, 50%);
      }
      .artist {
        color: darken($brand-primary, 10%);
      }
    }

    .deviceIcon {
      min-width: 98px;
      text-align: center;
      padding: 9px;
      @extend .pull-left;
      img {
        max-width: 80px;
        width: 100%;
        @extend .img-responsive;
      }
    }
    .deviceDetails {
      width: 75%;
      padding: 13px 9px 13px 0px;
      @extend .pull-left;
    }
  }
}
