.modal-body{

  &.sleep {
    h4 {
      margin-top: 28px;
      margin-bottom: 5px;
      color: $volumio-green-color;
    }
  }
  .glyphicon, .uib-separator {
    color: $volumio-green-color;
  }

  .row {
    &.alarm {
      table {
        td {
          padding: 0px;
        }
      }
      border-bottom: solid 1px $volumio-green-color;
    }
    &.alarm:last-of-type {
      border-bottom: none;
    }
  }
}
