#playbackPanelWrapper {
  @include make-row();
  margin-top: 10px;
  margin: auto;
  // border:solid 10px red;
  @include breakpoint(xs) {
    margin: 0px;
  }
  #leftPanel, #rightPanel {
    // position: relative;
    text-align: center;
    @include make-sm-column(8);
    @include breakpoint(xs) {
      height: calc(100vh - 100px);
    }
  }
  #centerPanel {
    @include make-sm-column(8);
  }
}
