 <div id="browse">
  <div id="toolbarRow">
    <!-- <div id="browseButtons">
      <button
          ng-repeat="filter in browse.browseService.filters"
          ng-class="{selected: browseService.listBy === 'artist'}"
          ng-click="browse.browseService.fetchLibrary(filter.index)">
          {{filter.name}}
      </button>
    </div> -->
    <div id="browseSources">
      <button
          ng-repeat="source in browse.browseService.sources"
          ng-click="browse.fetchLibrary(source)">
          {{source.name}}
      </button>
    </div>
    <div id="searchBox">
      <input type="text" ng-model="browse.searchField" ng-change="browse.search()">
    </div>
  </div>


  <br><br>
  <div class="">
    <button
        ng-repeat="breadcrumb in browse.browseService.breadcrumbs"
        ng-click="browse.fetchLibrary({uri: breadcrumb})"
        href>
        Back
    </button>
  </div>
  <br><br>
  <div id="browseList">
    <table id="browseTable" class="table table-hover table-condensed">
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th><span>Album</span></th>
        <th><span>Artist</span></th>
        <th></th>
      </tr>
      <tr ng-repeat="item in browse.browseService.list track by $index"
          ng-click="browse.clickListItem(item, $event)"
          ng-dblclick="browse.dblClickListItem(item, $event)">
        <td>
          <img ng-if="item.image" ng-src="{{item.albumart}}" alt="" style="height:80px;"/>
          <i ng-if="item.icon" class="{{item.icon}}"></i>
        </td>
        <td>{{item.title}} - {{item.type}}</td>
        <td>{{item.album}}</td>
        <td>{{item.artist}}</td>
        <td>
          <div
              dropdown
              on-toggle="browse.toggledItem(open, $event)"
              class="browseItemMenu">
            <button
                class=""
                dropdown-toggle
                >
              <i class="fa fa-bars"></i>
            </button>
            <ul class="dropdown-menu buttonsGroup">
              <li ng-click="browse.play(item)">
                <a href>Play</a>
              </li>
              <li ng-click="browse.addToQueue(item)">
                <a href>Add to queue</a>
              </li>
              <li ng-if="item.type !== 'playlist'" ng-click="browse.addToPlaylist(item)">
                <a href>Add to playlist</a>
              </li>
              <li ng-if="item.type === 'playlist'" ng-click="browse.deletePlaylist(item)">
                <a href>Delete playlist</a>
              </li>
              <li ng-if="item.type === 'song'" ng-click="browse.addToFavourites(item)">
                <a href>Add to favourites</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>

  </div>
</div>
