<div id="browse">
  <div id="browseButtons">
    <button ng-class="{selected: browse.listBy === 'artist'}" ng-click="browse.getListBy('artist')">Artist</button>
    <button ng-class="{selected: browse.listBy === 'album'}" ng-click="browse.getListBy('album')">Album</button>
    <button ng-class="{selected: browse.listBy === 'genere'}" ng-click="browse.getListBy('genere')">Genere</button>
    <button ng-class="{selected: browse.listBy === 'track'}" ng-click="browse.getListBy('track')">Track</button>
  </div>
  <div id="browseList">
    
  </div>
</div>
