<div id="browse">
  <div id="browseButtons">
    <button
        ng-repeat="filter in browse.browseService.filters"
        ng-class="{selected: browseService.listBy === 'artist'}"
        ng-click="browse.browseService.fetchLibrary(filter.index)">
        {{filter.name}}
    </button>
  </div>
  <div id="browseSources">
    <button
        ng-repeat="source in browse.browseService.sources">
        {{source.name}}
    </button>
  </div>
  <div id="browseList">
    {{browse.browseService.list}}
  </div>
</div>
