.volumeManager {
  margin-top: 110px;
  position: relative;
  // border: solid 1px red;
  @include breakpoint(xs) {
    @include make-xs-column(4, 0);
    margin-top: 0px;
    height: $footerHeight;
    .volumeSliderWrapper {
      pointer-events: none;
      position: absolute;
      bottom: $footerHeight;
      left: 0px;
      width: 60px;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: center;
      .volumeSlider {
        pointer-events: auto;
        margin: 14px 0px;
        transform: rotate(0deg);
      }
      button {
        pointer-events: auto;
      }
      .bigText {
        color: $theme-primary-color;
        font-size: 28px;
        padding-top: 10px;
      }
    }
  }
}
