<div class="volumeManager">
  <div class="row">
    <!-- <button ng-click="volumeManager.playerService.toggleMute()">
      <i class="fa fa-volume-off"></i>
    </button> -->
    <div class="volumeDown">
      <button ng-click="volumeManager.playerService.volumeDown()">
        <i class="fa fa-volume-down"></i>
      </button>
    </div>
    <div class="volumeSlider">
      <slider
          ng-model="volumeManager.volume"
          min="0"
          step="1"
          max="100"
          slider-tooltip="hide">
      </slider>
    </div>
    <div class="volumeUp">
      <button ng-click="volumeManager.playerService.volumeUp()">
        <i class="fa fa-volume-up"></i>
      </button>
    </div>
  </div>
</div>
