<div class="modal-header">
  <h3 class="modal-title">
    <span translate="COMMON.ENTER_PASSWORD"></span>
  </h3>
</div>
<div class="modal-body">
  <div ng-if="modal.dataObj.message">
    {{modal.dataObj.message}}
    <br><br>
  </div>

  <form class="form" name="modal.form">
    <input
        placeholder="Password"
        type="password"
        class="form-control"
        name="password"
        ng-model="modal.password"
        required>
  </form>
  <div ng-if="modal.showError">
    <span translate="COMMON.INVALID_PASSWORD"></span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="modal.cancel()">
    {{'COMMON.CANCEL' | translate}}
  </button>
  <button class="btn btn-info" ng-click="modal.ok()">
    {{'COMMON.OK' | translate}}
  </button>
</div>
