<h1>MyVolumio Terms and Conditions</h1>
<p>Last updated: December 26, 2018</p>

<h2>MyVolumio Terms in a nutshell</h2>

<p>MyVolumio is a service operated by INTUITU di Michelangelo Guarise, the company behind Volumio. Here's a quick 101 on how we operate this service and under which principles</p>

<h3>Goal of MyVolumio</h3>

<ul>
  <li>Provide an enhanced experience with Volumio, by allowing control of several Volumio devices from a single dashboard</li>
  <li>Provide an infrastructure to easily expand compatibility with third party music services</li>
  <li>Adding over time several new capabilities, thanks to the extra funding received</li>
</ul>

<h3>Data Collection and usage</h3>

<p>Due to the nature of the services and the features that we offer, we store (in a very secure manner) some of your data, specifically:</p>

<ul>
  <li>Name, surname, email and geographical location</li>
  <li>Favourites, Playlists, Radio Favourites, Personal Radios and the last played song on each device</li>
  <li>Date and time of your first subscription</li>
  <li>Data pertaining to your devices: anonimized Unique Identifier, Hardware type, Friendly name, System version and date of first addition</li>
</ul>

<p>What is your data used for:</p>

<ul>
  <li>Matching the nearest server to your location to enhance your experience with the lowest possible latency</li>
  <li>Synchronize in real time Favourites, Playlists, Radio Favourites, Personal Radios</li>
  <li>Verify that you have an active subscription</li>
  <li>Offering a clear overview of how many devices are linked to your account and if they are currently available and what they are currently playing</li>
</ul>

<p>General Policy of User Data</p>

<ul>
  <li>By cancelling your account, your data will be permanently deleted instantly</li>
  <li>We will not sell, share or grant access to your data to anyone.</li>
  <li>You will be able to download a file containing all your aforementioned data (except those that might result in a security issue)</li>
</ul>

<h3>Refund Policy</h3>

<p>No refunds will be executed</p>

<h2>Complete MyVolumio Terms and Conditions</h2>

<p>These Terms and Conditions ("Terms", "Terms and Conditions") govern your relationship with MyVolumio mobile application (the "Service") operated by INTUITU di Michelangelo Guarise ("us", "we", or "our").</p>

<p>Please read these Terms and Conditions carefully before using our MyVolumio mobile application (the "Service").</p>

<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>




<h2>Subscriptions</h2>

<p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set either on a monthly or annual basis, depending on the type of subscription plan you select when purchasing a Subscription.</p>

<p>At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or INTUITU di Michelangelo Guarise cancels it. You may cancel your Subscription renewal either through your online account management page or by contacting INTUITU di Michelangelo Guarise customer support team.</p>

<p>A valid payment method, including credit card or PayPal, is required to process the payment for your Subscription. You shall provide INTUITU di Michelangelo Guarise with accurate and complete billing information including full name, address, state, zip code, telephone number, and a valid payment method information. By submitting such payment information, you automatically authorize INTUITU di Michelangelo Guarise to charge all Subscription fees incurred through your account to any such payment instruments.</p>

<p>Should automatic billing fail to occur for any reason, INTUITU di Michelangelo Guarise will issue an electronic invoice indicating that you must proceed manually, within a certain deadline date, with the full payment corresponding to the billing period as indicated on the invoice.</p>


<h2>Free Trial</h2>

<p>INTUITU di Michelangelo Guarise may, at its sole discretion, offer a Subscription with a free trial for a limited period of time ("Free Trial").</p>

<p>You may be required to enter your billing information in order to sign up for the Free Trial.</p>

<p>If you do enter your billing information when signing up for the Free Trial, you will not be charged by INTUITU di Michelangelo Guarise until the Free Trial has expired. On the last day of the Free Trial period, unless you cancelled your Subscription, you will be automatically charged the applicable Subscription fees for the type of Subscription you have selected.</p>

<p>At any time and without notice, INTUITU di Michelangelo Guarise reserves the right to (i) modify the terms and conditions of the Free Trial offer, or (ii) cancel such Free Trial offer.</p>


<h2>Fee Changes</h2>

<p>INTUITU di Michelangelo Guarise, in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle.</p>

<p>INTUITU di Michelangelo Guarise will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective.</p>

<p>Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.</p>


<h2>Refunds</h2>

<p>Certain refund requests for Subscriptions may be considered by INTUITU di Michelangelo Guarise on a case-by-case basis and granted in sole discretion of INTUITU di Michelangelo Guarise.</p>


<h2>Content</h2>

<p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post to the Service, including its legality, reliability, and appropriateness.</p>

<p>By posting Content to the Service, you grant us the right and license to use, modify, perform, display, reproduce, and distribute such Content on and through the Service. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights.</p>

<p>You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and grant us the rights and license as provided in these Terms, and (ii) the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.</p>


<h2>Accounts</h2>

<p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

<p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

<p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

<p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.</p>




<h2>Intellectual Property</h2>

<p>The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of INTUITU di Michelangelo Guarise and its licensors. The Service is protected by copyright, trademark, and other laws of both the Italy and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of INTUITU di Michelangelo Guarise.</p>


<h2>Links To Other Web Sites</h2>

<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by INTUITU di Michelangelo Guarise.</p>

<p>INTUITU di Michelangelo Guarise has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that INTUITU di Michelangelo Guarise shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>


<h2>Termination</h2>

<p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

<p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>


<h2>Limitation Of Liability</h2>

<p>In no event shall INTUITU di Michelangelo Guarise, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>


<h2>Disclaimer</h2>

<p>Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>

<p>INTUITU di Michelangelo Guarise its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</p>


<h2>Governing Law</h2>

<p>These Terms shall be governed and construed in accordance with the laws of Italy, without regard to its conflict of law provisions.</p>

<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>


<h2>Changes</h2>

<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>


<h2>Contact Us</h2>

<p>If you have any questions about these Terms, please contact us at info@volumio.org</p>
