.trackInfoBar {
  @include make-row();
  background-color: $volumio-grey-trans-dark;
  height: 35px;
  .leftInfo {
    @include make-sm-column(18);
    // border: solid 1px red;
    padding: 8px 0px 9px 26px;
    font-size: 14px;
    font-weight: 700;
    span {
      &.small {
        font-weight: 300;
      }
      &.green {
        font-weight: 700;
        color: $volumio-green-color;
      }
    }
  }
  .rightInfo {
    // border: solid 1px red;
    text-align: right;
    @include make-sm-column(6);
  }
}
