.trackInfoBar {
  @include make-row();
  background-color: $volumio-grey-trans-dark;
  margin-bottom: 15px;
  .leftInfo {
    @include make-xs-column(24);
    padding: 5px 0px 6px 26px;
    font-size: 12px;
    font-weight: 700;
    span {
      font-weight: 300;
      &.green {
        font-weight: 700;
        color: $volumio-green-color;
      }
    }
  }
  .rightInfo {
    @include make-xs-column(12);
  }
}
