.trackInfoBar {
  @include make-row();
  background-color: $volumio-grey-trans-dark;
  height: 35px;
  .leftInfo {
    @include make-xs-column(24);
    padding: 8px 0px 9px 26px;
    font-size: 14px;
    font-weight: 700;
    span {
      &.small {
        font-weight: 300;
      }
      &.green {
        font-weight: 700;
        color: $volumio-green-color;
      }
    }
  }
  .rightInfo {
    @include make-xs-column(12);
  }
}
