<div class="equalizer" ng-class="{{equalizer.config.class ? equalizer.config.class : 'equalizer.config.orientation'}}" ng-repeat="bar in equalizer.config.bars track by $index">
  <slider
      id="{{::equalizer.id + '-' + $index}}"
      orientation="{{::equalizer.config.orientation}}"
      ng-model="bar.value"
      min="::bar.min"
      step="::bar.step"
      max="::bar.max"
      range="::bar.range"
      ticks="::bar.ticks"
      ticks-positions="::bar.ticksPositions"
      ticks-labels="::bar.ticksLabels"
      ticks-snap-bounds="10"
      value="bar.value"
      reversed="{{equalizer.config.orientation === 'vertical'}}"
      slider-tooltip="{{bar.tooltip}}">
  </slider>
</div>
