.equalizer {
  display: inline-block;
  margin: 10px;
  &.vertical {
    margin: 10px 20px;
  }
  &.horizontal {
    margin: 10px 0px 20px 0px;
    width: 180px;
  }
}

.equalizer-label{
  width: 15px;
  text-align: center;
  white-space: nowrap;
  margin-left: -8px;
}
