<div class="box">
  <div class="boxHeader">
    <div class="title">
      <h2 translate="MYVOLUMIO.MY_VOLUMIO"></h2>
    </div>
  </div>
  <div id="authLoginPlugin" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-user-circle-o"></i> <span translate="MYVOLUMIO.RECOVER_PASSWORD"></span></h3>
    </div>

    <div class="panel-body">

      <my-volumio-back-button route-destination="myvolumio.login" label="{{'MYVOLUMIO.LOGIN' | translate}}">
      </my-volumio-back-button>

      <p translate="MYVOLUMIO.RECOVER_PASSWORD_TEXT"></p>

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-8">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div ng-if="!myVolumioRecoverPasswordController.sent" class="panel-body">

                    <form id="register-form" role="form" autocomplete="off" class="form" ng-submit="myVolumioRecoverPasswordController.doRecover()">

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input ng-model="myVolumioRecoverPasswordController.email" id="email" name="email" placeholder="email address" class="form-control" type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-success btn-block" value="{{'MYVOLUMIO.PASSWORD_RESET' | translate}}" type="submit">
                      </div>

                      <input type="hidden" class="hide" name="token" id="token" value="">
                    </form>

                  </div>

                  <div ng-if="myVolumioRecoverPasswordController.sent">
                    <h3 translate="MYVOLUMIO.RECOVER_PASSWORD_SENT_MESSAGE"></h3>
                    <a class="btn btn-success btn-block btn-lg" translate="MYVOLUMIO.GO_TO_LOGIN" ng-click="myVolumioRecoverPasswordController.goToLogin()"></a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
