#playQueue {
  @include make-xs-column(24);
  user-select: none;
  cursor: pointer;
  .title {
    font-size: 16px;
  }
  .artist-album {
    font-size: 13px;
    color: $volumio-accent-color;
  }
  .deleteBtn {
    text-align: right;
  }
}
