<div class="row">
  <div id="playQueue">
    <table class="table table-hover table-condensed"
        ng-if="true || playQueue.playQueueService.queue.length">
      <tr>
        <th>Cover</th>
        <th>Track</th>
        <th>Album</th>
        <th>Artist</th>
        <th></th>
      </tr>
      <tr
        ng-repeat="item in playQueue.playQueueService.queue"
        ng-dblclick="playQueue.playQueueService.play($index)">
        <td>
          <img ng-if="item.albumart" ng-src="{{item.albumart}}" alt="" style="height:80px;"/>
          <i ng-if="item.icon" class="{{item.icon}}"></i>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.album}}</td>
        <td>{{item.artist}}</td>
        <td>
          <button class="btn btn-danger" ng-click="playQueue.playQueueService.remove($index)">
            Remove
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
