#playerButtons {

  text-align: center;
  height: $theme-player-height-smartphone;

  @include breakpoint(md){
    height: $footerHeight;
  }
  @include breakpoint(lg){
    height: $footerHeight;
  }
  @include breakpoint(xl){
    height: $footerHeight;
  }

  .playPauseBtnWrapper {
    position: relative;
    display: inline-block;
    width: 55px;
  }
  .playPauseBtnGreyWrapper {
    // border: solid 1px red;
    position: absolute;
    margin: auto;
    border-radius: 100px;
    height: 55px;
    width: 55px;
    top: calc( -1 * (#{$theme-player-height-smartphone} - 55px) / 2 );

    @include breakpoint(md){
      top: -35px;
    }
    @include breakpoint(lg){
      top: -35px;
    }
    @include breakpoint(xl){
      top: -35px;
    }

  }
  .playPause {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 3px $theme-primary-color;
    height: 55px;
    width: 55px;
    border-radius: 100px;
    &.play i{
      padding-left: 4px;
    }

    left: 15px;

    @include breakpoint(md) {
      left: 0;
      right: 0;
    }
    @include breakpoint(lg) {
      left: 0;
      right: 0;
    }
    @include breakpoint(xl) {
      left: 0;
      right: 0;
    }
  }

  #prev-button {
    font-size: 20px;
  }

  #next-button {
    font-size: 20px;
  }
}
