#playerButtons {

  text-align: center;
  height: $theme-player-height-smartphone;

  &.mobile-playback > button, .playPauseBtnWrapper{
    margin-left: 8px;
    margin-right: 8px;

    @media all and (max-width: 330px) {
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  @include breakpoint(md){
    height: $footerHeight;
  }
  @include breakpoint(lg){
    height: $footerHeight;
  }

  .playPauseBtnWrapper {
    position: relative;
    display: inline-block;
    width: 55px;
  }
  .playPauseBtnGreyWrapper {
    // border: solid 1px red;
    position: absolute;
    margin: auto;
    border-radius: 100px;
    height: 55px;
    width: 55px;
    top: calc( -1 * (#{$theme-player-height-smartphone} - 55px) / 2 );

    @include breakpoint(md){
      top: -35px;
    }
    @include breakpoint(lg){
      top: -35px;
    }

  }
  .playPause {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 2px transparent;
    background-color: $theme-background-hover-bright;
    height: 55px;
    width: 55px;
    border-radius: 100px;

    &:hover{
      border: 2px solid $theme-primary-color;
      background-color: rgba($theme-primary-color, 0.3);
      color: white;
    }

    &.play i{
      padding-left: 4px;
    }

    left: 15px;

    @include breakpoint(md) {
      left: 0;
      right: 0;
    }
    @include breakpoint(lg) {
      left: 0;
      right: 0;
    }
  }

  #prev-button {
    font-size: 20px;
  }

  #next-button {
    font-size: 20px;
  }

  #shuffle-button{
    i{
      @media all and (max-height: 500px) {
        padding-top: 10px;
      }
    }

    &:hover{
      color: inherit;
    }
    &:active{
      color: inherit;
    }
    &.active{
      color: $theme-link-hover-color;
    }
  }

  .repeat-button{
    i{
      @media all and (max-height: 500px) {
        padding-top: 10px;
      }
    }

    &:hover{
      color: inherit;
    }
    &:active{
      color: inherit;
    }
    &.active{
      color: $theme-link-hover-color;
    }
  }
}
