#axiom {
  #multiRoomManager {
    @include make-xs-column(24);

    .device {
      @include make-row();
      border-bottom: solid 1px #033656;
      &.draggable {
        cursor: grab;
      }
      &.hasClients {
        cursor: pointer;
      }
    }
    .device, .childDevice {
      background: url('/assets/graphics/table-item-background.png')  100% 100% repeat-x;
      min-height: 50px;
      padding: 10px 0;
    }

    .childDevice {
      border-top: solid 1px #033656;
    }

    .deviceIcon {
      @include make-xs-column(3);
    }
    .albumArt{
      @include make-xs-column(3);
    }
    .deviceDescription {
      @include make-xs-column(12);
      text-transform: uppercase;
      .deviceName {
        font-weight: bold;
        font-size: 22px;
      }
      span {
        color: $electric-blue;
      }
    }
    .deviceVolume {
      @include make-xs-column(6);
      button {
        @extend .btn-link;
      }
    }

    .childDevice {
    }
  }

  .droppableleArea {
    border: solid 0px red;
    min-height: 20px;
  }
}
