<div id="browse" class="boxTable" browse-scroll-manager>

    <div class="panel panel-default">
  
      <div class="browse-header-container browse-music__browse-header-container">

        <div  ng-if="!browse.isDedicatedSearchView" id="browsePanelHeading" class="panel-heading browse-header">

          <div class="navButtons pull-left"
               ng-include src="'app/browse/components/browse-nav-buttons.html'">
          </div>

          <div class="searchBox"
               ng-include src="'app/browse/components/browse-search-box.html'">
          </div>

          <div class="clearfix"></div>
        </div>

      </div>
      
      
      <!-- 
        
        <div class="browse__header">
            <div>
            <button
              ng-if="browse.browseService.isBrowsing"
              ng-click="browse.clickBack()"
              class="header__back-btn">
              <img class="header__back-btn__icon" src="app/assets-common/arrow-left.svg" alt="arrow back">
              <span>
                {{ 'COMMON.BACK' | translate }}
              </span>
            </button>
          </div>

          <div class="header__search-bar">
            <div class="dedicated-search hidden-search-icon"
                ng-include src="'app/browse/components/browse-search-box.html'">
            </div>
          </div> 
        </div>--> <!-- /.browse-header-container -->
  

        <div class="dedicated-search-container" ng-if="browse.isDedicatedSearchView">
          <div class="dedicated-search"
               ng-include src="'app/browse/components/browse-search-box.html'">
          </div>
        </div> <!-- /.dedicated-search-container -->

  
      <div class="dedicated-search-container-flow-space" ng-if="browse.isDedicatedSearchView"></div>
  
      <div class="body-content new-browse" ng-class="{ 'with-search-header': browse.isDedicatedSearchView }">

        <div id="browseTablesWrapper">

         <!--  <div
              ng-include
              src="'app/browse-music/components/browse-artist.html'">
          </div> -->

          <!-- ====== MAIN PAGE ===== -->
          <div ng-if="!browse.browseService.isBrowsing && !browse.browseService.isSearching">
            <div
                ng-include
                src="'app/browse-music/components/browse-main.html'">
            </div>
          </div> <!-- /MAIN PAGE -->

          <!-- ====== BROWSE ===== -->
          <div ng-if="browse.browseService.isBrowsing && !browse.browseService.isSearching">
           
            <!-- ====== LIST PAGE ===== -->
            <div ng-if="!browse.browseService.info">
              <div id="browse-page" class="browse__browse-page"></div>
            </div>

            <div ng-if="browse.browseService.info">
              
              <!-- ====== ARTIST PAGE ===== -->
              <div
                  ng-if="browse.browseService.info.type === 'artist'"
                  ng-include
                  src="'app/browse-music/components/browse-artist.html'">
              </div> <!-- /ARTIST PAGE -->

              <!-- ====== ALBUM PAGE ===== -->
              <div
                  ng-if="browse.browseService.info.type === 'album'"
                  ng-include
                  src="'app/browse-music/components/browse-album.html'">
              </div> <!-- /ALBUM PAGE -->
             
              <div
                  ng-if="browse.browseService.info.type !== 'album' && browse.browseService.info.type !== 'artist'"
                  ng-include
                  src="'app/browse-music/components/browse-album.html'">
              </div>

            </div>

          </div> <!-- /BROWSE -->



        </div>
      </div> <!-- /.body-content -->
  
    </div> <!-- /.panel -->
  
  </div> <!-- /#browse -->
  